{% extends "dashboard/index.html" %}
{% block titulo %} Reporte de Horas {% endblock %}
{% block contenido %}

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" href="Home"><a>Inicio</a></li>
        <li class="breadcrumb-item active" data-href="#"><a>Reporte de carga academica</a></li>
    </ol>
</nav>
<div class="card mx-2" id="card_horarios">
    <div class="card-header bg-red-usat text-white" id="headingOne" data-bs-toggle="collapse"
        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Horas practicas y teoricas de los docentes
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#miAccordion">
        <div class="card-body">
            <div class="container">
                <table class="text-center table table-striped">
                    <tr>
                        <th>Semestre</th>
                        <th>Docente</th>
                        <th>Total de Horas Teoricas y Practicas </th>
                    </tr>
                    {% for fila in reporte %}
                    <tr>
                        <td>{{ fila.semestre_descripcion }}</td>
                        <td>{{ fila.docente_nombres }} {{ fila.docente_apellidos }}</td>
                        <td>{{ fila.total_horas }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}