@font-face{
    font-family: 'Arial Greek';
    src: url(/static/css/Arial_Greek_Regular.ttf);
}

.bg-red-usat{
    background-color: #E33439;
    color: white;
}

.bg-grey-usat{
    background-color: #E8EBF1;
}

.text-red-usat{
    color: #E33439
}
