@font-face{
    font-family: 'Arial Greek';
    src: url(/static/css/Arial_Greek_Regular.ttf);
}

/* Color principal para botones y cuadros con mensajes */
.bg-red-usat{
    background-color: #E33439;
    color: white;
}

/* Color para fondo de pantalla */
.bg-grey-usat{
    background-color: #E8EBF1;
}

.bg-blue-horario-usat{
    background-color: #E33439;
}

.text-red-usat{
    color: #E33439
}
.table-responsive {
    overflow-x: auto;
}

.card-footer {
    text-align: center;
}

.table-responsive {
    overflow-x: auto;
}

.card-footer {
    text-align: center;
}

.tabla-cursos  {
    table-layout: auto;
    width: 100%;
}

.tabla-comun th,
.tabla-comun td {
    min-width: 100px; /* Ajusta según sea necesario */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    padding: 0.5rem;
    border: 1px solid #dee2e6;
}

.tabla-comun th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 1;
}


[data-image]{
    margin-right: 10px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(43deg) brightness(105%) contrast(101%);
    width: 20px;
    height: 20px;
}

@media (max-width: 767.98px) {
    .tabla-cursos th, .tabla-cursos td {
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
    }
}

@media (max-width: 767.98px) {
    .tabla-ambientes th, .tabla-ambientes  td {
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
    }
}

@media (max-width: 767.98px) {
    .tabla-docentes th, .tabla-docentes  td {
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
    }
}

.dt-search{
    margin-bottom: 20px;
    justify-content: flex-end;
}

@media (min-width: 1920px) {
    .tabla-cursos .tabla-ambientes .tabla-docentes{
        width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
        margin: 0 auto;
    }
    #semestre {
        width: 25%;
    }
    
    #escuela {
        width: 75%;
    }
    
    #card_cursos ::-webkit-scrollbar {
        display: none;
    }
    
    #contenedor-botones {
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    
    #contenedor-botones button {
        width: min(100%, 11rem);
        height: 3rem;
        margin-inline: 5px;
    }
    
    #miTabla {
        overflow-x: scroll;
    }
    
    @media (max-width: 763px) {
        #contenedor-botones {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        #contenedor-botones button {
            width: 100%;
        }
    }
}    