<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='dashboard/img/icons/usat_logo_red.jpg') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='login/fonts/icomoon/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login/css/style.css') }}">
    <script src="{{ url_for('static', filename='login/js/login.js') }}"></script>

    <title>USAT - Iniciar Sesion </title>
    <style>
        .bg {
            display: flex;
            background-size: cover;
        }

        .contents {
            width: 100%;
        }

        .col-md-7 {
            text-align: center;
        }

        .col-md-7 img {
            margin-bottom: 20px;
            max-width: 100%;
            height: auto;
        }

        .form-group input {
            width: 100%;
        }
    </style>
    <style>
        .btn-primary:hover {
            background-color: #28a745;
            /* Cambia el color de fondo al pasar el cursor */
            border-color: #28a745;
            /* Cambia el color del borde al pasar el cursor */
        }
    </style>

</head>

<body>


    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2"
            style="background-image: url('{{ url_for('static', filename='login/images/usat_logo_red.png') }}');))">
        </div>
        <div class="contents order-2 order-md-1">

            <div class="container">
                <div class="row align-items-center justify-content-center">

                    <div class="col-md-7">
                        <img src="{{ url_for('static', filename='login/images/usat_logo_sist.png') }}" alt="logoescuela"
                            style="max-width: 200px;">
                        <h3>Bienvenido</h3>
                        <p class="mb-4">Ingrese sus credenciales para acceder al sistema
                        </p>
                        <form action="{{ url_for('procesar_login') }}" method="post">
                            <div class="form-group first">

                                <input type="text" class="form-control" placeholder="Usuario" id="username"
                                    name="username" required>
                            </div>
                            <div class="form-group last mb-3">
                                <input type="password" class="form-control" placeholder="Contraseña" id="password"
                                    name="password" required>
                            </div>

                            <div class="d-flex mb-5 align-items-center">
                                <label class="control control--checkbox mb-0"><span class="caption">Recordar</span>
                                    <input type="checkbox" checked="checked" id="recordar_check" name="recordar_check">
                                    <div class="control__indicator"></div>
                                </label>
                                <span class="ml-auto"><a href="#" class="forgot-pass">Olvidé mi Contraseña</a></span>
                            </div>

                            <!-- <a href="{{url_for('index')}}" class="btn btn-primary btn-lg btn-block my-4"><strong>Acceder al Sistema</strong></a> -->
                            <button type="submit" class="tn btn-primary btn-lg btn-block my-4">
                                <strong>Acceder al Sistema</strong>
                            </button>

                        </form>
                        <button type="button" id="btnLogin" class="tn btn-primary btn-lg btn-block my-4">
                            <strong>Acceder al Sistema v2</strong>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <script src="{{ url_for('static', filename='login/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='login/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='login/js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='login/libs/sweetalert2/sweetalert2.js') }}"></script>
    <script>
        // Función para ocultar el div con la clase 'bg' en dispositivos móviles
        function hideBgOnMobile() {
            var screenWidth = window.innerWidth;
            var bgDiv = document.querySelector('.bg');
            if (screenWidth <= 991) { // Cambia 768 por el ancho deseado para dispositivos móviles
                bgDiv.style.display = 'none';
            } else {
                bgDiv.style.display = 'flex'; // Mostrar en dispositivos de escritorio
            }
        }

        // Ejecutar la función al cargar la página y cuando se redimensiona la ventana
        window.onload = hideBgOnMobile;
        window.onresize = hideBgOnMobile;
        //fUNION DINAMICA PARA MOSTRAR ALERTAS
        function mostrarAlerta(icon, title, text) {
            Swal.fire({
                icon: icon,
                title: title,
                text: text
            });
        }


        $('#btnLogin').click(function () {
            var username = $('#username').val();
            var password = $('#password').val();
            var recordar_check = $('#recordar_check').prop('checked');
            try {
                $.ajax({
                    url: '/login1',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        username: username,
                        password: password,
                        recordar_check: recordar_check
                    }),
                    success: function (response) {
                        console.log(response);
                        if (response.success) {
                            mostrarAlerta("success", "OK", response.success);
                            window.location.href = "{{ url_for('index') }}";
                        } else if (response.error) {
                            mostrarAlerta("error", "Error al Iniciar Sesión", response.error);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                        mostrarAlerta("error", "Error en la Procesamiento de Solicitud", error);  // Cambiado a error.responseText
                    }
                });
            } catch (e) {
                mostrarAlerta("error", "Error en AJAX", error.responseText);  // Cambiado a error.responseText
            }
        });

    </script>




</body>

</html>