{% extends "dashboard/index.html" %}
{% block titulo %} Horarios por Ambiente {% endblock %}
{% block contenido %}
<script src="{{ url_for('static', filename='login/libs/sweetalert2/sweetalert2.js') }}"></script>
<style>
    .horario-table {
        width: 100%;
        border-collapse: collapse;
    }

    .horario-table th,
    .horario-table td {
        border: 1px solid #ccc;
        padding: 8px;
    }

    .horario-celda {
        background-color: #f0f0f0;
        /* Color de fondo por defecto */
    }

    
</style>

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" href="Home"><a>Inicio</a></li>
        <li class="breadcrumb-item active" data-href="#"><a>Horarios por Ambiente</a></li>
    </ol>
</nav>

<div class="card mx-2" id="card_horarios">
    <div class="card-header bg-red-usat text-white" id="headingOne" data-bs-toggle="collapse"
        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Horarios asignados por ambiente
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#miAccordion">
        <div class="card-body">
            <div class="container">
                <!-- Div superior -->
                <div class="row row align-items-end my-3">
                    <div class="col-md-10 order-md-1 order-sm-2">
                        <!-- Primer input y label -->
                        <div class="form-group row mb-3 d-flex justify-content-center">
                            <label for="combo_semestre"
                                class="col-form-label col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 texto-label">Semestre
                                académico:</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                                <select class="form-select" aria-label="Default select example" id="combo_semestre">
                                    <option value="-1" selected>[-- SELECCIONE --]</option>
                                    {% for semestre in semestres %}
                                        <option value="{{ semestre[1] }}">{{ semestre[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Segundo input y label -->
                        <div class="form-group row mb-3 d-flex justify-content-center">
                            <label for="combo_edificio"
                                class="col-form-label col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 texto-label">Edificio:</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                                <select class="form-select" aria-label="Default select example" id="combo_edificio">
                                    <option value="-1" selected>[-- SELECCIONE --]</option>
                                    {% for edificio in edificios %}
                                    <option value="{{ edificio.idedificio }}">{{ edificio.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-3 d-flex justify-content-center">
                            <label for="combo_ambiente"
                                class="col-form-label col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 texto-label">Ambiente:</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                                <select class="form-select" aria-label="Default select example" id="combo_ambiente">
                                    <option value="-1" selected>[-- SELECCIONE --]</option>
                                    {% for ambiente in ambientes %}
                                    <option value="{{ ambiente[0] }}">{{ ambiente[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Panel de Ambientes -->
                <div id="panel_ambientes" class="d-flex flex-wrap mt-3">
                    <!-- Aquí se añadirán las etiquetas de los ambientes seleccionados -->
                </div>
                <!-- Tabla inferior -->
                <div class="card-body show">
                    <div id="loading" style="display: none;"><div></div></div>
                    <div class="row mt-3">
                        <div class="col-md-12" id="espacio_tabla"></div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</div>

<style>
    .ambientes-tab {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

.ambientes-tab.active {
    background-color: #d9534f;
    color: white;
}

.ambientes-tab button {
    background: none;
    border: none;
    color: inherit;
    margin-left: 10px;
    cursor: pointer;
}

</style>

<link rel="stylesheet" href="/static/filtros_horarios/css/horarios_por_docente.css">
<script src="/static/filtros_horarios/js/horarios_por_ambiente.js"></script>

{% endblock %}