{% extends "dashboard/index.html" %}
{% block titulo %} Horarios por Ambiente {% endblock %}
{% block contenido %}
<script src="{{ url_for('static', filename='login/libs/sweetalert2/sweetalert2.js') }}"></script>
<style>
    .horario-table {
        width: 100%;
        border-collapse: collapse;
    }

    .horario-table th,
    .horario-table td {
        border: 1px solid #ccc;
        padding: 8px;
    }

    .horario-celda {
        background-color: #f0f0f0;
        /* Color de fondo por defecto */
    }

    /* Estilos para resaltar las celdas con horario */
    .horario-celda.horario-asignado {
        background-color: #aee8b5;
        /* Color de fondo para las celdas con horario asignado */
    }
</style>

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" href="Home"><a>Inicio</a></li>
        <li class="breadcrumb-item active" data-href="#"><a>Horarios por Ambiente</a></li>
    </ol>
</nav>

<div class="card mx-2" id="card_horarios">
    <div class="card-header bg-red-usat text-white" id="headingOne" data-bs-toggle="collapse"
        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Horarios asignados por ambiente
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#miAccordion">
        <div class="card-body">
            <div class="container">
                <!-- Div superior -->
                <div class="row row align-items-end my-3">
                    <div class="col-md-10 order-md-1 order-sm-2">
                        <!-- Primer input y label -->
                        <div class="form-group row mb-3 d-flex justify-content-center">
                            <label for="combo_semestre"
                                class="col-form-label col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 texto-label">Semestre
                                académico:</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                                <select class="form-select" aria-label="Default select example" id="combo_semestre">
                                    <option selected>[-- SELECCIONE --]</option>
                                    {% for semestre in semestres %}
                                    <option value="{{ semestre.idsemestre }}">{{ semestre.descripcion }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Segundo input y label -->
                        <div class="form-group row mb-3 d-flex justify-content-center">
                            <label for="combo_edificio"
                                class="col-form-label col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 texto-label">Edificio:</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                                <select class="form-select" aria-label="Default select example" id="combo_edificio">
                                    <option selected>[-- SELECCIONE --]</option>
                                    {% for edificio in edificios %}
                                    <option value="{{ edificio.idedificio }}">{{ edificio.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-3 d-flex justify-content-center">
                            <label for="combo_ambiente"
                                class="col-form-label col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 texto-label">Ambiente:</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                                <select class="form-select" aria-label="Default select example" id="combo_ambiente">
                                    <option selected>[-- SELECCIONE --]</option>
                                    {% for ambiente in ambientes %}
                                    <option value="{{ ambiente[1] }}">{{ ambiente[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tabla inferior -->
                <!-- Tabla inferior -->
                <div class="card-body show">
                    <div id="loading"><div></div></div>
                    <div class="row mt-3">
                        <div class="col-md-12" id="espacio_tabla">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        function clearTable() {
            $('.horario-celda').removeClass('horario-asignado').text('');
        }

        $('#combo_edificio').change(function () {
            var edificioId = $(this).val();
            console.log("ID de Edificio Seleccionado:", edificioId);

            $.ajax({
                url: '/ambientes_por_edificio/' + encodeURIComponent(edificioId),
                type: 'GET',
                success: function (data) {
                    console.log("Datos recibidos:", data);
                    var $comboAmbiente = $('#combo_ambiente');
                    $comboAmbiente.empty();
                    $comboAmbiente.append('<option selected>[-- SELECCIONE --]</option>');
                    if (data.length > 0) {
                        $.each(data, function (index, ambiente) {
                            $comboAmbiente.append('<option value="' + ambiente.idambiente + '">' + ambiente.nombre + '</option>');
                        });
                    } else {
                        $comboAmbiente.append('<option>No hay ambientes disponibles</option>');
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                    Swal.fire({
                        title: 'Error',
                        text: 'No se pudieron obtener los ambientes. Por favor, intente nuevamente.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            });
        });

        $('#combo_ambiente').change(function () {
            var ambienteId = $(this).val();
            console.log("ID de Ambiente Seleccionado:", ambienteId);

            $.ajax({
                url: '/horarios_por_ambiente/' + encodeURIComponent(ambienteId) + '/' + encodeURIComponent($("#combo_semestre").val()),
                type: 'GET',
                success: function (data) {
                    console.log("Horarios recibidos:", data);
                    clearTable(); // Clear the table before updating

                    // Iterar sobre los horarios y resaltar las celdas correspondientes
                    $.each(data, function (index, horario) {
                        var diaMap = {
                            'Lunes': 0,
                            'Martes': 1,
                            'Miércoles': 2,
                            'Jueves': 3,
                            'Viernes': 4
                        };

                        var diaIndex = diaMap[horario.dia];
                        var horaInicio = parseInt(horario.horainicio.split(':')[0]);
                        var horaFin = parseInt(horario.horafin.split(':')[0]);

                        console.log("Dia Index:", diaIndex);
                        console.log("Hora Inicio:", horaInicio);
                        console.log("Hora Fin:", horaFin);

                        if (diaIndex !== undefined && horaInicio >= 7 && horaFin <= 22) {
                            for (var hora = horaInicio; hora < horaFin; hora++) {
                                var horaIndex = hora - 7;
                                var $celda = $('.horario-table tbody tr').eq(horaIndex).find('td').eq(diaIndex);
                                console.log("Celda seleccionada para el horario:", $celda);
                                $celda.addClass('horario-asignado');
                                $celda.text(horario.nombre_curso); // Agregar el nombre del curso a la celda
                            }
                        }
                    });
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                    Swal.fire({
                        title: 'Error',
                        text: 'No se pudieron obtener los horarios del ambiente. Por favor, intente nuevamente.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            });
        });
    });
</script>




{% endblock %}