{% extends "dashboard/index.html" %}
{% block titulo %} Horarios por docente {% endblock %}
{% block contenido %}
<script src="{{ url_for('static', filename='login/libs/sweetalert2/sweetalert2.js') }}"></script>

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" href="Home"><a>Inicio</a></li>
        <li class="breadcrumb-item active" data-href="#"><a>Horarios por docente</a></li>

    </ol>
</nav>


<div class="card mx-2" id="card_horarios">
    <div class="card-header bg-red-usat text-white" id="headingOne" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Horarios asignados por docente
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#miAccordion">
        <div class="card-body">
            <div class="container">
                <!-- Div superior -->
                <div class="row row align-items-end my-3">
                    <div class="col-md-10 order-md-1 order-sm-2">
                        <!-- Primer input y label -->
                        <div class="form-group row mb-3 d-flex justify-content-center">
                            <label for="combo_semestre" class="col-form-label col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 texto-label">Semestre académico:</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                                <select class="form-select" aria-label="Default select example" id="combo_semestre">
                                    <option value="-1" selected>[-- SELECCIONE --]</option>
                                    {% for semestre in semestres %}
                                        <option value="{{semestre[1]}}">{{semestre[1]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Segundo input y label -->
                        <div class="form-group row d-flex justify-content-center" style="align-items: center;">
                            <label for="search_bar" class="col-form-label col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 texto-label">Docente:</label>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                                <!-- Buscador con autocompletado de sugerencias -->
                                <div id="buscador-multiopcion-sugerencias" class="">
                                    <div id="bmos-barra-busqueda" contenteditable="false">
                                        <p contenteditable="false"></p>
                                    </div>
                                    <ul id="bmos-lista-sugerencias">
                                    </ul>
                                    <span data-mensaje-error="" style="color: red; text-align: center;"></span>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-md-2 order-md-2 order-sm-1  d-flex justify-content-center align-items-center">
                        <!-- Foto -->
                        <img src="/static/img/USUARIO.jpg" class="img-fluid" alt="Foto" id="foto_perfil">
                    </div>
                </div>
                <!-- Tabla inferior -->
                <div class="card-body show">
                    <div id="loading"><div></div></div>
                    <div class="row mt-3">
                        <div class="col-md-12" id="panel_docentes"></div>
                        <div class="col-md-12" id="espacio_tabla"></div>
                        
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div href="#" id="" data-href="" class="btn btn-success foot" style="height: 20px;"></div>
</div>

<link rel="stylesheet" href="/static/filtros_horarios/css/horarios_por_docente.css">
<script src="/static/filtros_horarios/js/horarios_por_docente.js"></script>

<style>

#panel_docentes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.docente-tab {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.docente-tab.active {
    background-color: #3e8e41;
}

.docente-tab:hover {
    background-color: #45a049;
}
</style>
{% endblock %}