{% extends "dashboard/index.html" %}
{% block titulo %} Ambientes {% endblock %}
{% block contenido %}
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('index')}}">Inicio</a></li>
        <li class="breadcrumb-item active"><a href="{{url_for('ambientes')}}">Ambientes</a></li>
    </ol>
</nav>

<div class="container">
</div>

<div id="mensajeResultado" style="display: none;"></div>

<div class="card mx-2" id="card_ambientes">
    <div class="card-header bg-red-usat text-white" id="headingOne" data-bs-toggle="collapse"
        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Ambientes
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#miAccordion">
        <div class="card-body">
            <div class="table-responsive mt-3">
                <table id="tabla-ambiente" class="table table-striped tabla-ambientes tabla-comun" style="width:100%">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Nombre</th>
                            <th style="text-align: center;">Aforo</th>
                            <th style="text-align: center;">Estado</th>
                            <th style="text-align: center;">Edificio</th>
                            <th style="text-align: center;">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos de los ambientes se cargarán dinámicamente aquí -->
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!-- Modal para agregar o modificar un ambiente -->
    <div class="modal fade" id="modalAmbiente" tabindex="-1" aria-labelledby="modalAmbienteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAmbienteLabel">Agregar Ambiente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAmbiente">
                        <input type="hidden" id="idAmbiente">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                        <div class="mb-3">
                            <label for="aforo" class="form-label">Aforo:</label>
                            <input type="number" class="form-control" id="aforo" name="aforo" required>
                        </div>
                        <div class="mb-3">
                            <label for="estado" class="form-label">Estado:</label>
                            <select class="form-control" id="estado" name="estado" required>
                                <option value="">Seleccione</option>
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="idedificio" class="form-label">Edificio:</label>
                            <select class="form-control" id="idedificio" name="idedificio" required>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="idambientetipo" class="form-label">Tipo de Ambiente:</label>
                            <select class="form-control" id="idambientetipo" name="idambientetipo" required>
                                <option value="">Seleccione</option>
                                <option value="1">Aula</option>
                                <option value="2">Laboratorio</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para la subida masiva de datos -->
<div class="modal fade" id="modalSubidaMasiva" tabindex="-1" aria-labelledby="modalSubidaMasivaLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSubidaMasivaLabel">Subida Masiva de Datos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formSubidaMasiva" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="archivo" class="form-label">Seleccionar archivo (Excel):</label>
                        <input type="file" class="form-control" id="archivo" name="archivo" accept=".xls,.xlsx"
                            required>
                    </div>
                    <button type="submit" class="btn btn-primary">Subir</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function descargarPlantilla() {
        const workbook = new ExcelJS.Workbook();
        const worksheet = workbook.addWorksheet('Plantilla');

        // Añadir el título
        const titleRow = worksheet.addRow(['USAT - Ambientes']);
        worksheet.mergeCells('A1', 'D1');
        titleRow.font = { bold: true, size: 14 };
        titleRow.alignment = { horizontal: 'center', vertical: 'middle' };
        worksheet.getRow(1).height = 20;

        // Añadir las cabeceras
        const headerRow = worksheet.addRow(['Nombre', 'Aforo', 'Tipo Ambiente', 'Edificio']);
        headerRow.font = { bold: true };
        headerRow.alignment = { horizontal: 'center', vertical: 'middle' };

        // Ajustar el ancho de las columnas
        worksheet.columns = [
            { key: 'nombre', width: 20 },
            { key: 'aforo', width: 10 },
            { key: 'tipo_ambiente', width: 15 },
            { key: 'edificio', width: 20 }
        ];

        // Generar y guardar el archivo
        workbook.xlsx.writeBuffer().then(function (buffer) {
            saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'USAT_Ambientes_Plantilla.xlsx');
        });
    }

    $(document).ready(function () {
        var ambientes = [];
        var edificios = {};

        function cargarEdificios() {
            $.ajax({
                url: '/get_edificios',
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    edificios = response.reduce((acc, edificio) => {
                        acc[edificio.idedificio] = edificio.nombre;
                        return acc;
                    }, {});
                    $('#idedificio').append(response.map(function (edificio) {
                        return `<option value="${edificio.idedificio}">${edificio.nombre}</option>`;
                    }));
                },
                error: function (xhr, status, error) {
                    console.error('Error al cargar edificios:', error);
                }
            });
        }

        function initializeDataTable() {
            return $('#tabla-ambiente').DataTable({
                paging: false,
                info: false,
                responsive: true,
                autoWidth: true,
                searching: true,
                scrollY: "510px",
                order: [0,'asc'],
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'collection',
                        text: '<i class="fas fa-file-import"></i> Importar',
                        className: 'btn btn-secondary',
                        buttons: [
                            {
                                text: '<i class="fas fa-upload"></i> Subir Archivo',
                                className: 'dropdown-item',
                                action: function (e) {
                                    e.preventDefault();
                                    $('#modalSubidaMasiva').modal('show');
                                }
                            },
                            {
                                text: '<i class="fas fa-download"></i> Descargar Plantilla',
                                className: 'dropdown-item',
                                action: function (e) {
                                    e.preventDefault();
                                    descargarPlantilla();
                                }
                            },
                        ]
                    },
                    {
                        extend: 'collection',
                        text: '<i class="fas fa-file-export"></i> Exportar/Imprimir',
                        className: 'btn btn-secondary',
                        buttons: [
                            {
                                extend: 'copy',
                                text: '<i class="fas fa-copy"></i> Copiar',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'csv',
                                text: '<i class="fas fa-file-csv"></i> CSV',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'excel',
                                text: '<i class="fas fa-file-excel"></i> Excel',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'pdf',
                                text: '<i class="fas fa-file-pdf"></i> PDF',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'print',
                                text: '<i class="fas fa-print"></i> Imprimir',
                                className: 'dropdown-item'
                            }
                        ]
                    },
                    {
                        text: '<i class="fas fa-plus"></i> Agregar Nuevo Ambiente',
                        className: 'btn_agregar_ambiente',
                        action: function (e) {
                            e.preventDefault();
                            $('#modalAmbienteLabel').text('Agregar Ambiente');
                            $('#formAmbiente')[0].reset();
                            $('#idAmbiente').val('');
                            $('#modalAmbiente').modal('show');
                        }
                    }
                ],

                ajax: {
                    url: "/datos_ambientes",
                    type: "GET",
                    dataSrc: ""
                },
                processing: true,
                serverSide: false,
                columns: [
                    { data: "nombre", className: 'dt-body-left' },
                    { data: "aforo", className: 'dt-body-center' },
                    {
                        data: "estado", className: 'dt-body-center',
                        render: function (data, type, row) {
                            return data === 'A' ? 'ACTIVO' : data === 'I' ? 'INACTIVO' : data;
                        }
                    },
                    {
                        data: "idedificio", className: 'dt-body-left',
                        render: function (data, type, row) {
                            return edificios[data] || data;
                        }
                    },
                    {
                        data: null, className: 'dt-body-center',
                        render: function (data, type, row) {
                            var darDeBajaIcono = row.estado === 'A' ? 'fas fa-arrow-down' : 'fas fa-arrow-up';
                            var darDeBajaTitulo = row.estado === 'A' ? 'Dar de Baja' : 'Activar';
                            return `
                                <button class="btn btn-warning btn-sm btnModificar" data-id="${row.idambiente}" title="Modificar"><i class="fas fa-pencil-alt"></i></button>
                                <button class="btn btn-danger btn-sm btnEliminar" data-id="${row.idambiente}" title="Eliminar"><i class="fas fa-times"></i></button>
                                <button class="btn btn-secondary btn-sm btnCambiarEstado" data-id="${row.idambiente}" title="${darDeBajaTitulo}"><i class="${darDeBajaIcono}"></i></button>
                            `;
                        }
                    }
                ],
                columnDefs: [
                    { targets: '_all', className: 'dt-center', orderable: true }
                ],
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
                }
            });
        }

        var table;
        if ($.fn.DataTable.isDataTable('#tabla-ambiente')) {
            table = $('#tabla-ambiente').DataTable();
            table.ajax.reload();
        } else {
            table = initializeDataTable();
        }

        cargarEdificios();

        function mostrarAlerta(tipo, titulo, mensaje) {
            Swal.fire({
                icon: tipo,
                title: titulo,
                html: mensaje,
                showConfirmButton: true,
                timer: 5000
            });
        }

        $('#formAmbiente').submit(function (e) {
            e.preventDefault();

            var aforo = $('#aforo').val();
            if (isNaN(aforo) || aforo.length > 2 || aforo <= 0) {
                mostrarAlerta('error', 'Error', 'El aforo debe ser un número positivo de hasta 2 dígitos.');
                return;
            }

            var data = {
                nombre: $('#nombre').val(),
                aforo: aforo,
                estado: $('#estado').val(),
                idedificio: $('#idedificio').val(),
                idambientetipo: $('#idambientetipo').val()
            };

            var idAmbiente = $('#idAmbiente').val();
            var url = idAmbiente ? '/modificar_ambiente' : '/agregar_ambiente';
            if (idAmbiente) data.idambiente = idAmbiente;

            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta('error', 'Error', response.error);
                    } else {
                        var mensajeExito = idAmbiente ? 'Ambiente modificado correctamente.' : 'Ambiente agregado correctamente.';
                        mostrarAlerta('success', 'Éxito', mensajeExito);
                        table.ajax.reload();
                        $('#modalAmbiente').modal('hide');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta('error', 'Error', 'Hubo un error al realizar la operación.');
                }
            });
        });

        $('#formSubidaMasiva').submit(function (e) {
            e.preventDefault();
            var fileInput = document.getElementById('archivo');
            var file = fileInput.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                var data = new Uint8Array(e.target.result);
                var workbook = XLSX.read(data, { type: 'array' });
                var firstSheetName = workbook.SheetNames[0];
                var worksheet = workbook.Sheets[firstSheetName];
                var jsonData = XLSX.utils.sheet_to_json(worksheet, { header: 1 });

                var headers = jsonData[1];
                var rows = jsonData.slice(2);

                var formattedData = rows.map((row, index) => {
                    return {
                        aforo: row[headers.indexOf("Aforo")],
                        estado: "A",
                        idambiente: index + 1,
                        idambientetipo: row[headers.indexOf("Tipo Ambiente")] === 'Laboratorio' ? 2 : 1,
                        idedificio: getEdificioId(row[headers.indexOf("Edificio")]),
                        nombre: row[headers.indexOf("Nombre")]
                    };
                });

                console.log(JSON.stringify(formattedData, null, 2));

                // $.ajax({
                //     url: '/agrega_ambiente_excel',
                //     type: 'POST',
                //     contentType: 'application/json',
                //     data: JSON.stringify(formattedData),
                //     success: function (response) {
                //         if (response.error) {
                //             mostrarAlerta('error', 'Error', response.error);
                //         } else {
                //             mostrarAlerta('success', 'Éxito', 'La subida masiva se realizó correctamente.');
                //             table.ajax.reload();
                //             $('#modalSubidaMasiva').modal('hide');
                //         }
                //     },
                //     error: function (xhr, status, error) {
                //         mostrarAlerta('error', 'Error', 'Hubo un error al realizar la operación.');
                //     }
                // });
            };

            reader.readAsArrayBuffer(file);
        });

        function getEdificioId(nombreEdificio) {
            switch (nombreEdificio) {
                case 'CEFO': return 5;
                case 'DECANAS': return 4;
                case 'EDIFICIO ANTIGUO': return 1;
                default: return 0;
            }
        }

        $('#tabla-ambiente tbody').on('click', '.btnModificar', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/get_ambiente/' + id,
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    var ambiente = response;
                    $('#idAmbiente').val(ambiente.idambiente);
                    $('#nombre').val(ambiente.nombre);
                    $('#aforo').val(ambiente.aforo);
                    $('#estado').val(ambiente.estado);
                    $('#idedificio').val(ambiente.idedificio);
                    $('#idambientetipo').val(ambiente.idambientetipo);
                    $('#modalAmbienteLabel').text('Modificar Ambiente');
                    $('#modalAmbiente').modal('show');
                },
                error: function (xhr, status, error) {
                    mostrarAlerta('error', 'Error', 'Hubo un error al obtener los datos del ambiente.');
                }
            });
        });

        $('#tabla-ambiente tbody').on('click', '.btnEliminar', function () {
            var id = $(this).data('id');
            Swal.fire({
                title: '¿Estás seguro?',
                text: "No podrás revertir esta acción.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminarlo!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/eliminar_ambiente',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ idambiente: id }),
                        success: function (response) {
                            if (response.error) {
                                Swal.fire('Error', response.error, 'error');
                            } else {
                                Swal.fire('Éxito', 'La operación se realizó correctamente.', 'success');
                                table.ajax.reload();
                            }
                        },
                        error: function (xhr, status, error) {
                            Swal.fire('Error', 'Hubo un error al eliminar el ambiente', 'error');
                        }
                    });
                }
            });
        });

        function cambiarEstadoAmbiente(id, estadoActual) {
            var nuevoEstado = estadoActual === 'A' ? 'I' : 'A';
            $.ajax({
                url: '/ambiente_estado',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ idambiente: id, estado: nuevoEstado }),
                success: function (response) {
                    if (response.error) {
                        Swal.fire('Error', response.error, 'error');
                    } else {
                        Swal.fire('Éxito', 'El estado del ambiente ha sido actualizado.', 'success');
                        table.ajax.reload(function (json) {
                            console.log('Datos recargados después de la actualización:', json);
                        }, false);
                    }
                },
                error: function (xhr, status, error) {
                    Swal.fire('Error', 'Hubo un error al cambiar el estado del ambiente', 'error');
                }
            });
        }

        $('#tabla-ambiente tbody').on('click', '.btnCambiarEstado', function () {
            var id = $(this).data('id');
            var estadoActual = $(this).attr('title') === 'Dar de Baja' ? 'A' : 'I';

            Swal.fire({
                title: `¿Seguro que quieres ${estadoActual === 'A' ? 'dar de baja' : 'activar'} este ambiente?`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: `Sí, ${estadoActual === 'A' ? 'dar de baja' : 'activar'}!`,
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    cambiarEstadoAmbiente(id, estadoActual);
                }
            });
        });

    });
</script>

{% endblock %}