{% extends "dashboard/index.html" %}
{% block titulo %} Ambientes por Cursos {% endblock %}
{% block contenido %}
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Inicio</a></li>
        <li class="breadcrumb-item active"><a href="{{ url_for('ambientesxCursos') }}">Asignar Ambientes por Cursos</a></li>
    </ol>
</nav>

<div class="container-fluid my-4">
    <div class="card w-100">
        <div class="card-header bg-red-usat text-white">
            Asignar Ambientes por Cursos
        </div>
        <div class="card-body">
            <div class="ms-4 mt-3">
                <!-- Cursos -->
                <div class="d-flex mb-3 mt-3">
                    <label for="curso" class="mb-2 me-4 mt-2" style="width: 7%;">Curso:</label>
                    <label id="cursoSeleccionado" class="mb-2 me-4 mt-2" style="width: 10%;">Elija un curso</label>
                    <input type="hidden" id="cursoIdSeleccionado">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCursos" style="width: 8%;">Añadir</button>
                </div>
                <!-- Ambientes -->
                <div class="d-flex mb-3 mt-3">
                    <label for="ambiente" class="mb-2 me-4 mt-2" style="width: 7%;">Ambiente:</label>
                    <label id="ambienteSeleccionado" class="mb-2 me-4 mt-2" style="width: 10%;">Elija un ambiente</label>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAmbientes" style="width: 8%;">Asignar</button>
                </div>
            </div>
            <div class="table-responsive">
                <table id="tabla-cursoxambientes" class="table table-striped tabla-cursoxambientes" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width:30%; text-align:center;">Curso</th>
                            <th style="width:30%; text-align:center;">Ambiente</th>
                            <th style="width:0%; text-align:center;">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos de los cursos se cargarán dinámicamente aquí -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal para seleccionar cursos -->
<div class="modal fade" id="modalCursos" tabindex="-1" aria-labelledby="modalCursosLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCursosLabel">Seleccionar Curso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="tabla-cursos" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Código</th>
                                <th>Ciclo</th>
                                <th>Plan de Estudio</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los datos de los cursos se cargarán dinámicamente aquí -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para seleccionar ambientes -->
<div class="modal fade" id="modalAmbientes" tabindex="-1" aria-labelledby="modalAmbientesLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAmbientesLabel">Seleccionar Ambientes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="tabla-ambientes" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Aforo</th>
                                <th>Edificio</th>
                                <th>Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los datos de los ambientes se cargarán dinámicamente aquí -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" id="guardarAmbientes" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Inicializar DataTable para la tabla de cursos por ambientes
        var table = $('#tabla-cursoxambientes').DataTable({
            "paging": true,
            "info": true,
            "columns": [
                { "data": "nombreCurso" },
                { "data": "nombreAmbiente" },
                {
                    "data": null, "className": 'dt-body-center',
                    "render": function (data, type, row) {
                        return `
                    <button class="btn btn-warning btn-sm btnModificar" data-id="${row.idcurso}" title="Modificar"><i class="fas fa-pencil-alt"></i></button>
                    <button class="btn btn-danger btn-sm btnEliminar" data-idambiente="${row.idambiente}" data-idcurso="${row.idcurso}" data-nombreAmbiente="${row.nombreAmbiente}" data-nombreCurso="${row.nombreCurso}" title="Eliminar"><i class="fas fa-times"></i></button>
                `;
                    }
                }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
            }
        });

        // Función para cargar los cursos y ambientes
        function cargarCursosAmbientes() {
            $.ajax({
                url: '/obtener_cursos_ambientes',
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    table.clear().rows.add(response).draw();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        // Inicial cargar cursos y ambientes
        cargarCursosAmbientes();

        // Inicializar DataTable para la tabla de cursos
        var tablaCursos = $('#tabla-cursos').DataTable({
            "paging": true,
            "info": true,
            "columns": [
                { "data": "nombre" },
                { "data": "codigoCurso" },
                { "data": "ciclo" },
                { "data": "nombre_plan_estudio" },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return `<button class="btn btn-primary seleccionar-curso" data-id="${row.idcurso}" data-nombre="${row.nombre}" data-bs-dismiss="modal">Seleccionar</button>`;
                    }
                }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
            }
        });

        // Cargar cursos cuando se muestra el modal
        $('#modalCursos').on('shown.bs.modal', function () {
            $.ajax({
                url: '/obtener_cursos_presenciales',
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    tablaCursos.clear().rows.add(response).draw();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });

        // Manejar la selección de un curso
        $('#tabla-cursos').on('mousedown', '.seleccionar-curso', function () {
            const idCurso = $(this).data('id');
            const nombreCurso = $(this).data('nombre');
            $('#cursoSeleccionado').text(nombreCurso);
            $('#cursoIdSeleccionado').val(idCurso);
            console.log(idCurso, nombreCurso);
        });

        // Inicializar DataTable para la tabla de ambientes
        var tablaAmbientes = $('#tabla-ambientes').DataTable({
            "paging": true,
            "info": true,
            "columns": [
                { "data": "nombre" },
                { "data": "aforo" },
                { "data": "nombreEdificio" },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return `<input type="checkbox" class="form-check-input seleccionar-ambiente" value="${row.idambiente}">`;
                    }
                }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
            }
        });

        // Limpiar selección de ambientes y cargar datos al abrir el modal
        $('#modalAmbientes').one('show.bs.modal', function () {
            // Limpiar selección de checkboxes
            $('#tabla-ambientes input[type="checkbox"]').prop('checked', false);

            // Cargar datos nuevamente
            tablaAmbientes.clear().draw();
            $.ajax({
                url: '/obtener_ambientes_activos',
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    tablaAmbientes.clear().rows.add(response).draw();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });

        // Manejar la selección y el guardado de ambientes
        $('#guardarAmbientes').on('click', function () {
            var selectedAmbientes = [];
            $('#tabla-ambientes input[type="checkbox"]:checked').each(function () {
                selectedAmbientes.push($(this).val());
            });

            var cursoSeleccionado = $('#cursoIdSeleccionado').val();

            if (!cursoSeleccionado) {
                alert("Por favor seleccione un curso antes de asignar ambientes.");
                return;
            }

            $.ajax({
                url: '/guardar_ambientes_curso',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    curso: cursoSeleccionado,
                    ambientes: selectedAmbientes
                }),
                success: function (response) {
                    $('#modalAmbientes').modal('hide');
                    cargarCursosAmbientes();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });

        // Manejar la eliminación de un curso y ambiente
        $('#tabla-cursoxambientes tbody').on('click', '.btnEliminar', function () {
            var idcurso = $(this).data('idcurso');
            var idambiente = $(this).data('idambiente');
            var nombreCurso = $(this).data('nombrecurso');
            var nombreAmbiente = $(this).data('nombreambiente');

            if (confirm(`¿Seguro que quieres eliminar la asignación del curso: ${nombreCurso} con el ambiente: ${nombreAmbiente}?`)) {
                if (idcurso && idambiente) {
                    $.ajax({
                        url: '/eliminar_cursoAmbiente',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ idcurso: idcurso, idambiente: idambiente }),
                        success: function (response) {
                            console.log(response);
                            $('#mensajeResultado').removeClass().empty();
                            if (response.error) {
                                $('#mensajeResultado').addClass('alert alert-danger').text('Error: ' + response.error);
                            } else {
                                $('#mensajeResultado').addClass('alert alert-success').text('Asignación eliminada correctamente');
                                cargarCursosAmbientes();
                            }
                            $('#mensajeResultado').show();
                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                        }
                    });
                } else {
                    console.log('ID de curso o ambiente no definido');
                }
            }
        });
    });
</script>

{% endblock %}
