{% extends "dashboard/index.html" %}
{% block titulo %} Ambientes {% endblock %}
{% block contenido %}
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('index')}}">Inicio</a></li>
        <li class="breadcrumb-item active"><a href="{{url_for('ambientes')}}">Ambientes</a></li>
    </ol>
</nav>

<div class="container">

</div>

<div id="mensajeResultado" style="display: none;"></div>

<div class="card mx-2" id="card_ambientes">
    <div class="card-header bg-red-usat text-white" id="headingOne" data-bs-toggle="collapse"
        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Ambientes
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#miAccordion">
        <div class="card-body">
            <div class="search-box">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <select id="filtro_edificio" class="form-control">
                                <option value="">Todos los edificios</option>
                                <option value="1">Edificio antiguo</option>
                                <option value="2">Edificio Juan Pablo II</option>
                                <option value="3">Edificio de idiomas</option>
                                <option value="4">Edificio de aulas decanas</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body show">
                <table id="tabla-ambiente" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 10%; text-align: center;">Nombre</th>
                            <th style="width: 3%; text-align: center;">Aforo</th>
                            <th style="width: 3%; text-align: center;">Estado</th>
                            <th style="width: 10%; text-align: center;">Edificio</th>
                            <th style="width: 10%; text-align: center;">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos de los ambientes se cargarán dinámicamente aquí -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a href="#" id="btn_agregar_ambiente" class="btn btn-success">Agregar Nuevo Ambiente</a>

    <!-- Modal para agregar un ambiente -->
    <div class="modal fade" id="modalAgregarAmbiente" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Ambiente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAgregarAmbiente">
                        <div class="mb-3">
                            <label for="nombreAgregar" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombreAgregar" name="nombreAgregar" required>
                        </div>
                        <div class="mb-3">
                            <label for="aforoAgregar" class="form-label">Aforo:</label>
                            <input type="number" class="form-control" id="aforoAgregar" name="aforoAgregar" required>
                        </div>
                        <div class="mb-3">
                            <label for="estadoAgregar" class="form-label">Estado:</label>
                            <select class="form-control" id="estadoAgregar" name="estadoAgregar" required>
                                <option value="">Seleccione</option>
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="idedificioAgregar" class="form-label">Edificio:</label>
                            <select class="form-control" id="idedificioAgregar" name="idedificioAgregar" required>
                                <option value="">Seleccione</option>
                                <option value="1">Edificio Antiguo</option>
                                <option value="2">Edificio Juan Pablo II</option>
                                <option value="3">Edificio de Idiomas</option>
                                <option value="4">Edificio de Aulas Decanas</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="idambientetipoAgregar" class="form-label">Tipo de Ambiente:</label>
                            <select class="form-control" id="idambientetipoAgregar" name="idambientetipoAgregar"
                                required>
                                <option value="">Seleccione</option>
                                <option value="1">Aula</option>
                                <option value="2">Laboratorio</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para modificar un ambiente -->
    <div class="modal fade" id="modalModificarAmbiente" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar Ambiente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formModificarAmbiente">
                        <input type="hidden" id="idAmbienteModificar">
                        <div class="mb-3">
                            <label for="nombreModificar" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombreModificar" name="nombreModificar"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="aforoModificar" class="form-label">Aforo:</label>
                            <input type="number" class="form-control" id="aforoModificar" name="aforoModificar"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="estadoModificar" class="form-label">Estado:</label>
                            <select class="form-control" id="estadoModificar" name="estadoModificar" required>
                                <option value="">Seleccione</option>
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="idedificioModificar" class="form-label">Edificio:</label>
                            <select class="form-control" id="idedificioModificar" name="idedificioModificar" required>
                                <option value="">Seleccione</option>
                                <option value="1">Edificio Antiguo</option>
                                <option value="2">Edificio Juan Pablo II</option>
                                <option value="3">Edificio de Idiomas</option>
                                <option value="4">Edificio de Aulas Decanas</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="idambientetipoModificar" class="form-label">Tipo de Ambiente:</label>
                            <select class="form-control" id="idambientetipoModificar" name="idambientetipoModificar"
                                required>
                                <option value="">Seleccione</option>
                                <option value="1">Aula</option>
                                <option value="2">Laboratorio</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        var ambientes = [];
        var edificios = {
            1: "EDIFICIO ANTIGUO",
            2: "EDIFICIO JUAN PABLO II",
            3: "EDIFICIO DE IDIOMAS",
            4: "EDIFICIO DE AULAS DECANAS"
        };

        var table = $('#tabla-ambiente').DataTable({
            "paging": true,
            "info": true,
            "stateSave": true,
            "columns": [
                { "data": "nombre" , "className": 'dt-body-left' },
                { "data": "aforo" ,"className": 'dt-body-center' },
                { "data": "estado" },
                {
                    "data": "idedificio", "className":'dt-body-left',
                    "render": function (data, type, row) {
                        return edificios[data] || data;
                    }
                },
                {
                    "data": null, "className": 'dt-body-center',
                    "render": function (data, type, row) {
                        return `
                            <button class="btn btn-warning btn-sm btnModificar" data-id="${row.idambiente}" title="Modificar"><i class="fas fa-cog"></i></button>
                            <button class="btn btn-danger btn-sm btnEliminar" data-id="${row.idambiente}" title="Eliminar"><i class="fas fa-times"></i></button>
                            <button class="btn btn-secondary btn-sm btnDarDeBaja" data-id="${row.idambiente}" title="Dar de Baja"><i class="fas fa-arrow-down"></i></button>
                        `;
                    }
                }
            ],
            "columnDefs": [
            { targets: '_all', className: 'dt-center' }
      ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
            }
        });

        function cargarAmbientes() {
            $.ajax({
                url: '/get_ambientes',
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    ambientes = response;
                    table.clear().rows.add(ambientes).draw();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        cargarAmbientes();

        $('#collapseOne').collapse('show');

        $('#filtro_edificio').on('change', function () {
            var filtro = $(this).val();
            table.column(3).search(filtro).draw();
        });

        $('#btn_agregar_ambiente').click(function (e) {
            e.preventDefault();
            $('#modalAgregarAmbiente').modal('show');
            $('#formAgregarAmbiente')[0].reset();
        });

        $('#formAgregarAmbiente').submit(function (e) {
            e.preventDefault();
            var data = {
                nombre: $('#nombreAgregar').val(),
                aforo: $('#aforoAgregar').val(),
                estado: $('#estadoAgregar').val(),
                idedificio: $('#idedificioAgregar').val(),
                idambientetipo: $('#idambientetipoAgregar').val()
            };

            $.ajax({
                url: '/agregar_ambiente',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    $('#mensajeResultado').removeClass().empty();
                    if (response.error) {
                        $('#mensajeResultado').addClass('alert alert-danger').text('Error: ' + response.error);
                    } else {
                        $('#mensajeResultado').addClass('alert alert-success').text('Ambiente agregado correctamente');
                        cargarAmbientes();
                        $('#modalAgregarAmbiente').modal('hide');
                    }
                    $('#mensajeResultado').show();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });



        $('#tabla-ambiente tbody').on('click', '.btnModificar', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/get_ambiente/' + id,
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    var ambiente = response;
                    $('#idAmbienteModificar').val(ambiente.idambiente);
                    $('#nombreModificar').val(ambiente.nombre);
                    $('#aforoModificar').val(ambiente.aforo);
                    $('#estadoModificar').val(ambiente.estado);
                    $('#idedificioModificar').val(ambiente.idedificio);
                    $('#idambientetipoModificar').val(ambiente.idambientetipo);
                    $('#modalModificarAmbiente').modal('show');
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });


        $('#formModificarAmbiente').submit(function (e) {
            e.preventDefault();
            var data = {
                idambiente: $('#idAmbienteModificar').val(),
                nombre: $('#nombreModificar').val(),
                aforo: $('#aforoModificar').val(),
                estado: $('#estadoModificar').val(),
                idedificio: $('#idedificioModificar').val(),
                idambientetipo: $('#idambientetipoModificar').val()
            };

            $.ajax({
                url: '/modificar_ambiente',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    $('#mensajeResultado').removeClass().empty();
                    if (response.error) {
                        $('#mensajeResultado').addClass('alert alert-danger').text('Error: ' + response.error);
                    } else {
                        $('#mensajeResultado').addClass('alert alert-success').text('Ambiente modificado correctamente');
                        cargarAmbientes();
                        $('#modalModificarAmbiente').modal('hide');
                    }
                    $('#mensajeResultado').show();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });



        $('#tabla-ambiente tbody').on('click', '.btnEliminar', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/eliminar_ambiente',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ idambiente: id }),
                success: function (response) {
                    $('#mensajeResultado').removeClass().empty();
                    if (response.error) {
                        $('#mensajeResultado').addClass('alert alert-danger').text('Error: ' + response.error);
                    } else {
                        $('#mensajeResultado').addClass('alert alert-success').text('Ambiente eliminado correctamente');
                        cargarAmbientes();
                    }
                    $('#mensajeResultado').show();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });

        $('#tabla-ambiente tbody').on('click', '.btnDarDeBaja', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/dar_baja_ambiente',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ idambiente: id }),
                success: function (response) {
                    $('#mensajeResultado').removeClass().empty();
                    if (response.error) {
                        $('#mensajeResultado').addClass('alert alert-danger').text('Error: ' + response.error);
                    } else {
                        $('#mensajeResultado').addClass('alert alert-success').text('Ambiente dado de baja correctamente');
                        cargarAmbientes();
                    }
                    $('#mensajeResultado').show();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });

</script>
{% endblock %}