{% extends "dashboard/index.html" %}

{% block titulo %} Cursos {% endblock %}

{% block contenido %}

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Inicio</a></li>
        <li class="breadcrumb-item active"><a href="{{ url_for('cursos') }}">Cursos</a></li>
        <li class="breadcrumb-item active"><a href="{{ url_for('cursos') }}">Grupos por Curso</a></li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="card mt-3" id="card_cursos">
        <div class="card-header bg-red-usat text-white" id="headingOne" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Grupo por curso
        </div>
        <div class="ms-4 mt-3">
            <!-- Semestre -->
            <div class="d-flex mb-3 mt-3">
                <label for="" class="mb-2 mt-2" style="width: 8%;">Semestre:</label>
                <select class="form-select" aria-label="Default select example" id="semestre" onchange="validar()">
                    <option selected disabled>-----Seleccione un semestre-----</option>
                    {% for semestre in semestres %}
                    <option>{{ semestre[0] }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Escuelas -->
            <div class="d-flex mb-3 me-4 mt-3">
                <label for="" class="mb-2 mt-2" style="width: 8%;">Escuela:</label>
                <select class="form-select" aria-label="Default select example" id="escuela" onchange="validar()">
                    <option selected disabled>-----Seleccione una escuela-----</option>
                    {% for escuela in escuelas %}
                    <option>{{ escuela[0] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <hr class="border-black" style="margin-bottom: 0%;">
        <div class="card-body">
            <div class="table-responsive" id="miTabla">
                <table class="table table-striped table-bordered tabla-cursos" style="width:100% " id="tabla-cursos">
                    <thead>
                        <tr>
                            <th style="text-align:center">Código</th>
                            <th style="width: 30%; text-align: center">Nombre del curso</th>
                            <th style="text-align:center">Ciclo</th>
                            <th style="text-align:center">N° Grupos</th>
                            <th><input type="checkbox" class="form-check-input me-3 border border-dark" onclick="seleccionar_toda()" id="est"></th>
                        </tr>
                    </thead>
                    <tbody id="cuerpo_tabla">
                    </tbody>
                </table>
                <div class="text-end mb-2 mt-3" id="contenedor-botones">
                    <a class="btn btn-danger" style="margin-right: 1%;">Cancelar</a>
                    <a class="btn btn-primary bg_green_button" onclick="dato_selecciondo()">Guardar</a>
                </div>
            </div> 
        </div>
    </div>
</div>
<style>
    #semestre,#escuela{
        width: min(100%,320px);
        margin: 0 1rem 0 0;
    }

    #card_cursos ::-webkit-scrollbar{
        display: none;
    }

    #contenedor-botones{
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: end;

        & button{
            width: min(100%,11rem);
            height: 3rem;
            margin-inline: 5px;
        }
    }

    #miTabla{
        overflow-x: scroll;

    }

    @media (max-width:763px){
        #contenedor-botones{
            display: flex;
            justify-content: center;
            align-items: center;

            & button{
                width: 100%;
            }
        }
    }
</style>
<!-- Script para inicializar el DataTable y realizar la búsqueda -->
<script>
    $(document).ready(function() {
        var table = $('#tabla-cursos').DataTable({
            "paging": true,
            "info": true,
            "scroller":true,
            "scrollY": '200px',
            "columns": [
                { "data": "idcurso", "className": "text-center id" }, 
                { "data": "nombre"},
                { "data": "ciclo", "className": "text-center" },
                {
                    "data": "total_grupos",
                    "render": function(data, type, row) {
                        return `<input type="number" value="${data}"    class="numeric-input form-control bg-white text-black mx-auto text-center grupos" style="width:80px">`;
                    },
                    "className": "text-center"
                },
                {
                    "data": null,
                    "render": function(data, type, row) {
                        return `<input type="checkbox" class="form-check-input me-3 border border-dark che" >`;
                    },
                    "className": "text-center",
                    "orderable": false
                }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
            }
        });


        // Eliminamos el atributo "step" de los campos numéricos al inicializar la tabla
        table.on('draw.dt', function() {
            // Asignar evento 'click' a los inputs de tipo número con clase 'numeric-input'
            $('.numeric-input').off('input').on('input', function() {
                valida(this);
            });
        });
        function valida(element) {
            var padre = element.parentNode.parentNode; 
            var checkbox = padre.querySelector('.che');
            var valor = parseInt(element.value, 10);    
            if (valor > 0 && valor < 28) {
                checkbox.checked = true;
            } else {
                checkbox.checked = false;
            }
        }
        
        
        window.rellenarTabla = function(escuela,semestre) {
            fetch(`/rellenar_tabla/${escuela}/${semestre}`)
                .then(response => response.json())
                .then(data => {
                    table.clear();
                    table.rows.add(data);
                    table.draw();
                })
                .catch(error => {
                    console.error('Error al obtener los datos de la tablas:', error);
                });
        };
        function grupos(datos) {
            fetch('/mantenimiento_grupos', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(datos) 
            })
            .then(response => response.json())
            .then(data => {
                if (data) {
                    Swal.fire({
                        title: 'Éxito',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then(() => {
                    });
                } else {
                    Swal.fire({
                        title: 'Error',
                        text: data.message,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            })
            .catch(error => {
                Swal.fire({
                    title: 'Error',
                    text: 'Hubo un error al modificar los grupos',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            });
        }        
        window.seleccionar_toda = function() {
            var checkbox = document.getElementById('est');
            var isChecked = checkbox.checked;
            var input_check = document.querySelectorAll('input[type="checkbox"]');
            for (var i = 0; i < input_check.length; i++) {
                input_check[i].checked = isChecked;
            }
        };
        window.dato_selecciondo = function() {
            var input_check = document.querySelectorAll('td input[type="checkbox"]');
            var semestre = document.getElementById('semestre').value;
            var escuela = document.getElementById('escuela').value;
            var datos = {
                "escuela": escuela,
                "semestre": semestre,
                "valores": []
            };
            for (var i = 0; i < input_check.length; i++) {
                if (input_check[i].checked) {
                    var padre = input_check[i].parentElement.parentElement;
                    var valor = padre.querySelector('.grupos').value;
                    var id_v = padre.querySelector('.id').textContent;
                    datos.valores.push({
                        "id": id_v,
                        "valor": valor
                    });
                }
            }
            Swal.fire({
                title: '¿Seguro de querer modificar grupos?',
                text: "No podrás revertir esta acción.",
                icon: 'warning',
                showCancelButton: true,
                buttonsStyling: false,
                confirmButtonText: 'Sí, modificar',
                cancelButtonText: 'Cancelar',
                customClass: {
                    confirmButton: 'btn btn-primary me-2',
                    cancelButton: 'btn btn-danger'
                },
                showLoaderOnConfirm: true,
                preConfirm: () => {
                    return new Promise((resolve) => {
                        grupos(datos, function(data) {
                            resolve();
                        });
                    });
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.isConfirmed) {
                    rellenarTabla(escuela, semestre);
                } 
            });
        }
    window.validar = function() {
            var semestre = document.getElementById('semestre');
            var escuela = document.getElementById('escuela');
            if (semestre.selectedIndex > 0 && escuela.selectedIndex > 0) {
                rellenarTabla(escuela.value,semestre.value);
            }
        };
    });



</script>
{% endblock %}
