{% extends "dashboard/index.html" %}
{% block titulo %} Disponibilidad {% endblock %}
{% block contenido %}
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('index')}}">Inicio</a></li>
        <li class="breadcrumb-item active"><a href="{{url_for('disponibilidad')}}">Disponibilidad</a></li>
    </ol>
</nav>

<div class="container">
</div>

<div id="mensajeResultado" style="display: none;"></div>

<div class="card mx-2" id="card_disponibilidad">
    <div class="card-header bg-red-usat text-white" id="headingOne" data-bs-toggle="collapse"
        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Disponibilidad
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#miAccordion">
        <div class="card-body">
            <div class="table-responsive mt-3">
                <table id="tabla-disponibilidad" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 20%; text-align: center;">Docente</th>
                            <th style="width: 10%; text-align: center;">Día</th>
                            <th style="width: 15%; text-align: center;">Hora Inicio</th>
                            <th style="width: 15%; text-align: center;">Hora Fin</th>
                            <th style="width: 10%; text-align: center;">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos de disponibilidad se cargarán dinámicamente aquí -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal para agregar o modificar disponibilidad -->
    <div class="modal fade" id="modalDisponibilidad" tabindex="-1" aria-labelledby="modalDisponibilidadLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDisponibilidadLabel">Agregar Disponibilidad</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formDisponibilidad">
                        <input type="hidden" id="idDisponibilidad">
                        <div class="mb-3">
                            <label for="docente" class="form-label">Docente:</label>
                            <select class="form-control" id="docente" name="docente" required>
                                <option value="">Seleccione</option>
                                <!-- Los docentes se cargarán dinámicamente aquí -->
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="dia" class="form-label">Día:</label>
                            <select class="form-control" id="dia" name="dia" required>
                                <option value="">Seleccione</option>
                                <option value="Lunes">Lunes</option>
                                <option value="Martes">Martes</option>
                                <option value="Miércoles">Miércoles</option>
                                <option value="Jueves">Jueves</option>
                                <option value="Viernes">Viernes</option>
                                <option value="Sábado">Sábado</option>
                                <option value="Domingo">Domingo</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="horaInicio" class="form-label">Hora Inicio:</label>
                            <input type="time" class="form-control" id="horaInicio" name="horaInicio" required>
                        </div>
                        <div class="mb-3">
                            <label for="horaFin" class="form-label">Hora Fin:</label>
                            <input type="time" class="form-control" id="horaFin" name="horaFin" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para la subida masiva de datos -->
<div class="modal fade" id="modalSubidaMasiva" tabindex="-1" aria-labelledby="modalSubidaMasivaLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSubidaMasivaLabel">Subida Masiva de Datos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formSubidaMasiva" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="archivo" class="form-label">Seleccionar archivo (Excel):</label>
                        <input type="file" class="form-control" id="archivo" name="archivo" accept=".xls,.xlsx"
                            required>
                    </div>
                    <button type="submit" class="btn btn-primary">Subir</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function descargarPlantilla() {
        const workbook = new ExcelJS.Workbook();
        const worksheet = workbook.addWorksheet('Plantilla');

        // Añadir el título
        const titleRow = worksheet.addRow(['USAT - Disponibilidad']);
        worksheet.mergeCells('A1', 'D1');
        titleRow.font = { bold: true, size: 14 };
        titleRow.alignment = { horizontal: 'center', vertical: 'middle' };
        worksheet.getRow(1).height = 20;

        // Añadir las cabeceras
        const headerRow = worksheet.addRow(['Docente', 'Dia', 'Hora Inicio', 'Hora Fin']);
        headerRow.font = { bold: false };
        headerRow.alignment = { horizontal: 'center', vertical: 'middle' };

        // Ajustar el ancho de las columnas
        worksheet.columns = [
            { key: 'Docente', width: 20 },
            { key: 'Dia', width: 10 },
            { key: 'Hora Inicio', width: 15 },
            { key: 'Hora Fin', width: 20 }
        ];

        // Generar y guardar el archivo
        workbook.xlsx.writeBuffer().then(function (buffer) {
            saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'USAT_Disponibilidad_Plantilla.xlsx');
        });
    }

    function cargarDocentes() {
        $.ajax({
            url: '/get_docentes',
            type: 'GET',
            success: function (data) {
                var docentesSelect = $('#docente');
                docentesSelect.empty();
                docentesSelect.append('<option value="">Seleccione</option>');
                data.forEach(function (docente) {
                    docentesSelect.append('<option value="' + docente.idpersona + '">' + docente.nombre_completo + '</option>');
                });
            },
            error: function (xhr, status, error) {
                console.error('Error al cargar los docentes:', error);
            }
        });
    }

    $(document).ready(function () {
        var disponibilidad = [];

        function initializeDataTable() {
            var table = $('#tabla-disponibilidad').DataTable({
                paging: false,
                info: false,
                responsive: true,
                autoWidth: true,
                searching: true,
                scrollY: "510px",
                order: [0,'asc'], 
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'collection',
                        text: '<i class="fas fa-file-import"></i> Importar',
                        className: 'btn btn-secondary',
                        buttons: [
                            {
                                text: '<i class="fas fa-upload"></i> Subir Archivo',
                                className: 'dropdown-item',
                                action: function (e) {
                                    e.preventDefault();
                                    $('#modalSubidaMasiva').modal('show');
                                }
                            },
                            {
                                text: '<i class="fas fa-download"></i> Descargar Plantilla',
                                className: 'dropdown-item',
                                action: function (e) {
                                    e.preventDefault();
                                    descargarPlantilla();
                                }
                            },
                        ]
                    },
                    {
                        extend: 'collection',
                        text: '<i class="fas fa-file-export"></i> Exportar/Imprimir',
                        className: 'btn btn-secondary',
                        buttons: [
                            {
                                extend: 'copy',
                                text: '<i class="fas fa-copy"></i> Copiar',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'csv',
                                text: '<i class="fas fa-file-csv"></i> CSV',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'excel',
                                text: '<i class="fas fa-file-excel"></i> Excel',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'pdf',
                                text: '<i class="fas fa-file-pdf"></i> PDF',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'print',
                                text: '<i class="fas fa-print"></i> Imprimir',
                                className: 'dropdown-item'
                            }
                        ]
                    },
                    {
                        text: '<i class="fas fa-plus"></i> Agregar Nueva Disponibilidad',
                        className: 'btn_agregar_disponibilidad',
                        action: function (e) {
                            e.preventDefault();
                            $('#modalDisponibilidadLabel').text('Agregar Nueva Disponibilidad');
                            $('#formDisponibilidad')[0].reset();
                            $('#idDisponibilidad').val('');
                            $('#modalDisponibilidad').modal('show');
                            cargarDocentes();
                        }
                    }
                ],

                "ajax": {
                    "url": "/get_disponibilidad",
                    "type": "GET",
                    "dataSrc": ""
                },
                "processing": true,
                "serverSide": false, // Desactiva la recarga automática al ordenar
                "columns": [
                    { "data": "nombre_completo", "className": 'dt-body-left' },
                    { "data": "dia", "className": 'dt-body-left' },
                    { "data": "hora_inicio" },
                    { "data": "hora_fin" },
                    {
                        "data": null, "className": 'dt-body-center',
                        "render": function (data, type, row) {
                            return `
                            <button class="btn btn-warning btn-sm btnModificar" data-id="${row.id}" title="Modificar"><i class="fas fa-pencil-alt"></i></button>
                            <button class="btn btn-danger btn-sm btnEliminar" data-id="${row.id}" title="Eliminar"><i class="fas fa-times"></i></button>
                            <button class="btn btn-secondary btn-sm btnDarDeBaja" data-id="${row.id}" title="Dar de Baja"><i class="fas fa-arrow-down"></i></button>
                        `;
                        }
                    }
                ],
                "columnDefs": [
                    { targets: '_all', className: 'dt-center', orderable: true } // Asegura que todas las columnas sean ordenables
                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
                }
            });

            $('#search_box').on('keyup', function () {
                table.search(this.value).draw();
            });

            return table;
        }

        var table;
        if ($.fn.DataTable.isDataTable('#tabla-disponibilidad')) {
            table = $('#tabla-disponibilidad').DataTable();
            table.ajax.reload();
        } else {
            table = initializeDataTable();
        }

        function mostrarAlerta(tipo, titulo, mensaje) {
            Swal.fire({
                icon: tipo,
                title: titulo,
                html: mensaje,
                showConfirmButton: true,
                timer: 5000
            });
        }

        $('#formDisponibilidad').submit(function (e) {
            e.preventDefault();
            var data = {
                docente: $('#docente').val(),
                dia: $('#dia').val(),
                horaInicio: $('#horaInicio').val(),
                horaFin: $('#horaFin').val()
            };

            var idDisponibilidad = $('#idDisponibilidad').val();
            var url = idDisponibilidad ? '/modificar_disponibilidad' : '/agregar_disponibilidad';
            if (idDisponibilidad) data.idDisponibilidad = idDisponibilidad;

            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta('error', 'Error', response.error);
                    } else {
                        var mensajeExito = idDisponibilidad ? 'La operación se realizó correctamente.' : 'La operación se realizó correctamente.';
                        mostrarAlerta('success', 'Éxito', mensajeExito);
                        table.ajax.reload();
                        $('#modalDisponibilidad').modal('hide');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta('error', 'Error', 'Hubo un error al realizar la operación.');
                }
            });
        });

        $('#formSubidaMasiva').submit(function (e) {
            e.preventDefault();
            var fileInput = document.getElementById('archivo');
            var file = fileInput.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                var data = new Uint8Array(e.target.result);
                var workbook = XLSX.read(data, { type: 'array' });
                var firstSheetName = workbook.SheetNames[0];
                var worksheet = workbook.Sheets[firstSheetName];
                var jsonData = XLSX.utils.sheet_to_json(worksheet, { header: 1 });

                var headers = jsonData[1];  
                var rows = jsonData.slice(2); 

                var formattedData = rows.map((row, index) => {
                    return {
                        docente: row[headers.indexOf("Docente")],
                        dia: row[headers.indexOf("Dia")],
                        horaInicio: row[headers.indexOf("Hora Inicio")],
                        horaFin: row[headers.indexOf("Hora Fin")]
                    };
                });

                console.log(JSON.stringify(formattedData, null, 2)); // Visualizar los datos en forma de JSON en la consola

                // $.ajax({
                //     url: '/agrega_disponibilidad_excel',
                //     type: 'POST',
                //     contentType: 'application/json',
                //     data: JSON.stringify(formattedData),
                //     success: function (response) {
                //         if (response.error) {
                //             mostrarAlerta('error', 'Error', response.error);
                //         } else {
                //             mostrarAlerta('success', 'Éxito', 'La subida masiva se realizó correctamente.');
                //             table.ajax.reload();
                //             $('#modalSubidaMasiva').modal('hide');
                //         }
                //     },
                //     error: function (xhr, status, error) {
                //         mostrarAlerta('error', 'Error', 'Hubo un error al realizar la operación.');
                //     }
                // });
            };

            reader.readAsArrayBuffer(file);
        });

        $('#tabla-disponibilidad tbody').on('click', '.btnModificar', function () {
    var idpersona = $(this).data('idpersona');
    var dia = $(this).data('dia');
    var hora_inicio = $(this).data('hora_inicio');
    var hora_fin = $(this).data('hora_fin');

    $.ajax({
        url: `/get_disponibilidad/${idpersona}/${dia}/${hora_inicio}/${hora_fin}`,
        type: 'GET',
        contentType: 'application/json',
        success: function (response) {
            var disponibilidad = response;
            $('#docente').val(disponibilidad.idpersona);
            $('#dia').val(disponibilidad.dia);
            $('#horaInicio').val(disponibilidad.hora_inicio);
            $('#horaFin').val(disponibilidad.hora_fin);
            $('#modalDisponibilidadLabel').text('Modificar Disponibilidad');
            $('#modalDisponibilidad').modal('show');
        },
        error: function (xhr, status, error) {
            mostrarAlerta('error', 'Error', 'Hubo un error al obtener los datos de la disponibilidad.');
        }
    });
});

        $('#tabla-disponibilidad tbody').on('click', '.btnEliminar', function () {
            var id = $(this).data('id');
            Swal.fire({
                title: '¿Estás seguro?',
                text: "No podrás revertir esta acción.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminarlo!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/eliminar_disponibilidad',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ id: id }),
                        success: function (response) {
                            if (response.error) {
                                var errorMsg = response.error; 
                                mostrarAlerta('error', 'Error', errorMsg);
                            } else {
                                mostrarAlerta('success', 'Éxito', 'La operación se realizó correctamente.');
                                table.ajax.reload();
                            }
                        },
                        error: function (xhr, status, error) {
                            mostrarAlerta('error', 'Error', 'Hubo un error al realizar la operación.');
                        }
                    });
                }
            });
        });

        $('#tabla-disponibilidad tbody').on('click', '.btnDarDeBaja', function () {
            var id = $(this).data('id');
            Swal.fire({
                title: '¿Estás seguro?',
                text: "No podrás revertir esta acción.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, dar de baja!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/dar_baja_disponibilidad',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ id: id }),
                        success: function (response) {
                            if (response.error) {
                                var errorMsg = response.error; 
                                mostrarAlerta('error', 'Error', errorMsg);
                            } else {
                                mostrarAlerta('success', 'Éxito', 'La operación se realizó correctamente.');
                                table.ajax.reload();
                            }
                        },
                        error: function (xhr, status, error) {
                            mostrarAlerta('error', 'Error', 'Hubo un error al realizar la operación.');
                        }
                    });
                }
            });
        });
    });
</script>
{% endblock %}
