{% extends "dashboard/index.html" %}
{% block titulo %} Docente por Cursos {% endblock %}
{% block contenido %}
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Inicio</a></li>
        <li class="breadcrumb-item active"><a href="{{ url_for('docentesxcursos') }}">Asignar Docentes por Cursos</a></li>
    </ol>
</nav>

<div class="container-fluid my-4">
    <div class="card w-100">
        <div class="card-header bg-red-usat text-white">
            Asignar Docentes por Cursos
        </div>
        <div class="card-body">
            <div class="ms-4 mt-3">
                <!-- Cursos -->
                <div class="d-flex flex-wrap mb-3 mt-3">
                    <label for="curso" class="mb-2 me-4 mt-2">Curso:</label>
                    <label id="cursoSeleccionado" class="mb-2 me-4 mt-2">Elija un curso</label>
                    <input type="hidden" id="cursoIdSeleccionado">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCursos">Añadir</button>
                </div>
                <!-- Docentes -->
                <div class="d-flex flex-wrap mb-3 mt-3">
                    <label for="docente" class="mb-2 me-4 mt-2">Docente:</label>
                    <label id="docenteSeleccionado" class="mb-2 me-4 mt-2">Elija un docente</label>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDocentes">Asignar</button>
                </div>
            </div>
            <div class="table-responsive">
                <table id="tabla-cursoxdocentes" class="table table-striped table-bordered tabla-cursoxdocentes" style="width:100%">
                    <thead>
                        <tr>
                            <th style ="text-align: center">Curso</th>
                            <th style ="text-align: center">Docente</th>
                            <th style ="text-align: center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos de los cursos se cargarán dinámicamente aquí -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal para seleccionar cursos -->
<div class="modal fade" id="modalCursos" tabindex="-1" aria-labelledby="modalCursosLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCursosLabel">Seleccionar Curso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="tabla-cursos" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width:35%; text-align:center;">Nombre</th>
                                <th>Código</th>
                                <th>Ciclo</th>
                                <th>Plan de Estudio</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los datos de los cursos se cargarán dinámicamente aquí -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para seleccionar docentes -->
<div class="modal fade" id="modalDocentes" tabindex="-1" aria-labelledby="modalDocentesLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDocentesLabel">Seleccionar Docentes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="tabla-docente" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width:40%; text-align:center;">Nombre</th>
                                <th style="width:30%; text-align:center;">Correo</th>
                                <th style="width:10%; text-align:center;">Teléfono</th>
                                <th style="width:5%; text-align:center;">Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los datos de los docentes se cargarán dinámicamente aquí -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" id="guardarDocentes" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Inicializar DataTable para la tabla de cursos por ambientes
        var table = $('#tabla-cursoxdocentes').DataTable({
            "paging": true,
            "info": true,
            "columns": [
                { "data": "nombreCurso" },
                { "data": "nombreDocente" },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return `
                    <button class="btn btn-warning btn-sm btnModificar" data-id="${row.idcurso}">Modificar</button>
                    <button class="btn btn-danger btn-sm btnEliminar" data-iddocente="${row.idpersona}" data-idcurso="${row.idcurso}" data-nombreAmbiente="${row.nombreAmbiente}" data-nombreCurso="${row.nombreCurso}">Eliminar</button>
                `;
                    }
                }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
            }
        });

        // Función para cargar los cursos y ambientes
        function cargarCursosDocentes() {
            $.ajax({
                url: '/obtener_cursos_docentes',
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    table.clear().rows.add(response).draw();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        // Inicial cargar cursos y ambientes
        cargarCursosDocentes();

        // Inicializar DataTable para la tabla de cursos
        var tablaCursos = $('#tabla-cursos').DataTable({
            "paging": true,
            "info": true,
            "columns": [
                { "data": "nombre" },
                { "data": "codigoCurso" },
                { "data": "ciclo", "className": 'dt-body-center' },
                { "data": "nombre_plan_estudio","className": 'dt-body-center' },
                {
                    "data": null,"className": 'dt-body-center',
                    "render": function (data, type, row) {
                        return `<button class="btn btn-primary seleccionar-curso" data-id="${row.idcurso}" data-nombre="${row.nombre}" data-bs-dismiss="modal">Seleccionar</button>`;
                    }
                }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
            }
        });

        // Cargar cursos cuando se muestra el modal
        $('#modalCursos').on('shown.bs.modal', function () {
            $.ajax({
                url: '/obtener_cursos_presenciales',
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    tablaCursos.clear().rows.add(response).draw();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });

        // Manejar la selección de un curso
        $('#tabla-cursos').on('mousedown', '.seleccionar-curso', function () {
            const idCurso = $(this).data('id');
            const nombreCurso = $(this).data('nombre');
            $('#cursoSeleccionado').text(nombreCurso);
            $('#cursoIdSeleccionado').val(idCurso);
            console.log(idCurso, nombreCurso);
        });

        // Inicializar DataTable para la tabla de docentes
        var tablaDocente = $('#tabla-docente').DataTable({
            "paging": true,
            "info": true,
            "columns": [
                { "data": "nombre" },
                { "data": "correo","className": 'dt-body-center' },
                { "data": "telefono","className": 'dt-body-center' },
                {
                    "data": null, "className": 'dt-body-center, ',

                    "render": function (data, type, row) {
                        return `<input type="checkbox" class="form-check-input seleccionar-docente" value="${row.idpersona}">`;
                    }
                }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
            }
        });

        // Limpiar selección de docentes y cargar datos al abrir el modal
        $('#modalDocentes').one('show.bs.modal', function () {
            // Limpiar selección de checkboxes
            $('#tabla-docente input[type="checkbox"]').prop('checked', false);

            // Cargar datos nuevamente
            tablaDocente.clear().draw();
            $.ajax({
                url: '/obtener_docentes_activos',
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    tablaDocente.clear().rows.add(response).draw();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });

        // Manejar la selección y el guardado de docentes
        $('#guardarDocentes').on('click', function () {
            var selectedDocentes = [];
            $('#tabla-docente input[type="checkbox"]:checked').each(function () {
                selectedDocentes.push($(this).val());
            });

            var cursoSeleccionado = $('#cursoIdSeleccionado').val();

            if (!cursoSeleccionado) {
                alert("Por favor seleccione un curso antes de asignar docentes.");
                return;
            }

            $.ajax({
                url: '/guardar_docentes_curso',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    curso: cursoSeleccionado,
                    docentes: selectedDocentes
                }),
                success: function (response) {
                    $('#modalDocentes').modal('hide');
                    cargarCursosDocentes();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });

        // Manejar la eliminación de un curso y ambiente
        $('#tabla-cursoxdocentes tbody').on('click', '.btnEliminar', function () {
            var idcurso = $(this).data('idcurso');
            var idpersona = $(this).data('idpersona');
            var nombreCurso = $(this).data('nombrecurso');
            var nombreDocente = $(this).data('nombredocente');

            if (confirm(`¿Seguro que quieres eliminar la asignación del curso: ${nombreCurso} con el docente: ${nombreDocente}?`)) {
                if (idcurso && idpersona) {
                    $.ajax({
                        url: '/eliminar_cursoDocente',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ idcurso: idcurso, idpersona: idpersona }),
                        success: function (response) {
                            console.log(response);
                            $('#mensajeResultado').removeClass().empty();
                            if (response.error) {
                                $('#mensajeResultado').addClass('alert alert-danger').text('Error: ' + response.error);
                            } else {
                                $('#mensajeResultado').addClass('alert alert-success').text('Asignación eliminada correctamente');
                                cargarCursosDocentes();
                            }
                            $('#mensajeResultado').show();
                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                        }
                    });
                } else {
                    console.log('ID de curso o docente no definido');
                }
            }
        });
    });
</script>

{% endblock %}
