{% extends "dashboard/index.html" %}

{% block titulo %} Perfil {% endblock %}

{% block contenido %}
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" href="Home"><a>Inicio</a></li>
        <li class="breadcrumb-item active" data-href="#"><a>Docentes</a></li>

    </ol>
</nav>

<div class="card mx-2" id="card_docentes">
    <div class="card-header bg-red-usat text-white" id="headingOne" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Docentes
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#miAccordion">
        <div class="card-body">
            <div class="container">
                <div class="card-body show">
                    <!-- Tabla para mostrar los cursos -->
                    <table id="tabla-ambiente" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Telefono</th>
                                <th>Correo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los datos de los ambientes se cargarán dinámicamente aquí -->
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
    <div href="#" id="" data-href="" class="btn btn-success foot" style="height: 20px;"></div>
</div>

{% endblock %}