{% extends "dashboard/index.html" %}
{% block titulo %}Grupos {% endblock %}
{% block contenido %}
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('index')}}">Inicio</a></li>
        <li class="breadcrumb-item active"><a href="{{url_for('grupos')}}">Grupos</a></li>
    </ol>
</nav>
<script src="{{ url_for('static', filename='js/Grupos/grupos.js') }}"></script>

<div id="mensajeResultado" style="display: none;"></div>

<div class="card mx-2" id="card_grupos">
    <div class="card-header bg-red-usat text-white" id="headingOne" data-bs-toggle="collapse"
        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Grupos
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#miAccordion">
        <div class="card-body">
            <div class="search-box">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <select id="filtro_cursos" class="form-control">
                                <option value="">Todos los cursos</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body show">
                <table id="tabla-grupo" class="table table-striped tabla-cursos" style="width:100%">
                    <thead>
                        <tr>
                            <th style="text-align: center">Nombre</th>
                            <th style="text-align: center">Vacantes</th>
                            <th style="text-align: center">Curso</th>
                            <th style="text-align: center">Semestre</th>
                            <th style="text-align: center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos de los grupos se cargarán dinámicamente aquí -->
                    </tbody>
                </table>
                <div class="d-flex justify-content-end mt-3">
                    <a href="#" id="btn_agregar_grupo" data-href="grupo_agregar.html" class="btn btn-primary">Agregar Nuevo Grupo</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal para modificar un Grupo -->
    <div class="modal fade" id="modalModificarGrupo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modificarIdGrupo">Agregar/Modificar Grupo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formModificarGrupos">
                        <div class="mb-3">
                            <label for="modificarNombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="modificarNombre" name="nombre" required>
                        </div>
                        <div class="mb-3">
                            <label for="modificarVacantes" class="form-label">Vacantes:</label>
                            <input type="number" class="form-control" id="modificarVacantes" name="vacantes" required>
                        </div>

                        <div class="mb-3">
                            <label for="modificarCurso" class="form-label">Curso:</label>
                            <select class="form-control" id="modificarCurso" name="idcurso" required>
                                <!-- Opciones de curso cargadas dinámicamente -->
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="modificarSemestre" class="form-label">Semestre Academico:</label>
                            <select class="form-control" id="modificarSemestre" name="idsemestre" required>
                                <!-- Opciones de semestre cargadas dinámicamente -->
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL AGREGAR Grupo -->
<div class="modal fade" id="modalAgregarGrupo" tabindex="-1" aria-labelledby="modalGrupoLabel"
aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Grupo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formAgregarGrupo">
                    <div class="mb-3">
                        <label for="agregarGrupo" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="agregarGrupo" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="agregarVacante" class="form-label">Vacantes:</label>
                        <input type="text" class="form-control" id="agregarVacante" name="vacantes" required>
                    </div>
                    <div class="mb-3">
                        <label for="agregarCurso" class="form-label">Curso:</label>
                        <select class="form-control" id="agregarCurso" name="idcurso" required>
                            <!-- Opciones de curso cargadas dinámicamente -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="agregarSemestre" class="form-label">Semestre:</label>
                        <select class="form-control" id="agregarSemestre" name="idsemestre" required>
                            <!-- Opciones de semestre cargadas dinámicamente -->
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>


</div>

{% endblock %}