{% extends "dashboard/index.html" %}
{% block titulo %}Grupos {% endblock %}
{% block contenido %}
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('index')}}">Inicio</a></li>
        <li class="breadcrumb-item active"><a href="{{url_for('grupos')}}">Grupos</a></li>
    </ol>
</nav>
<script src="{{ url_for('static', filename='js/Grupos/grupos.js') }}"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>

<div id="mensajeResultado" style="display: none;"></div>

<div class="card mx-2" id="card_grupos">
    <div class="card-header bg-red-usat text-white" id="headingOne" data-bs-toggle="collapse"
        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Grupos
    </div>
    <div id="collapseOne" class="collapsed" aria-labelledby="headingOne" data-bs-parent="#miAccordion">
        <div class="card-body">
            <div class="search-box">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <select id="filtro_cursos" class="form-control">
                                <option value="">Todos los cursos</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body show">
                <table id="tabla-grupo" class="table table-striped tabla-cursos tabla-comun" style="width:100%">
                    <thead>
                        <tr>
                            <th style="text-align: center">Nombre</th>
                            <th style="text-align: center">Vacantes</th>
                            <th style="text-align: center">Curso</th>
                            <th style="text-align: center">Semestre</th>
                            <th style="text-align: center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos de los grupos se cargarán dinámicamente aquí -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal para agregar/modificar un Grupo -->
    <div class="modal fade" id="modalGrupo" tabindex="-1" aria-labelledby="modalGrupoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalGrupoLabel">Agregar/Modificar Grupo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formGrupo">
                        <input type="hidden" id="grupoId" name="id_grupo">
                        <div class="mb-3">
                            <label for="nombreGrupo" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombreGrupo" name="nombre" required>
                        </div>
                        <div class="mb-3">
                            <label for="vacantesGrupo" class="form-label">Vacantes:</label>
                            <input type="number" class="form-control" id="vacantesGrupo" name="vacantes" required>
                        </div>
                        <div class="mb-3">
                            <label for="cursoGrupo" class="form-label">Curso:</label>
                            <select class="form-control" id="cursoGrupo" name="idcurso" required>
                                <option value="">Seleccionar curso</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="semestreGrupo" class="form-label">Semestre:</label>
                            <select class="form-control" id="semestreGrupo" name="idsemestre" required>
                                <option value="">Seleccionar semestre</option>
                            </select>
                        </div>
                        <button id="btn_guardarGrupo" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
