{% extends "dashboard/index.html" %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
<section class="section">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3"><strong>Panel de  análisis</strong></h1>

        <div class="row border" >
            <div class="col-xl-6 col-xxl-4 d-flex">
                <div class="w-100">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card border">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title"><b>Cantidad de cursos activos del semestre académico 2024-I</b></h5>
                                        </div>
                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle" data-feather="book"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 skeleton skeleton-text" id="cursos-activos"></h1>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title"><b>Cantidad de docentes activos del semestre académico 2024-I</b></h5>
                                        </div>
                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle" data-feather="users"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 skeleton skeleton-text" id="docentes-activos"></h1>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title"><b>Cantidad de ambientes disponibles del semestre académico 2024-I</b></h5>
                                        </div>
                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle" data-feather="home"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 skeleton skeleton-text" id="ambientes-disponibles"></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Reporte de Capacidad y Ocupación de Ambientes -->
            <div class="col-xl-6 col-xxl-4 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Capacidad y ocupación de ambientes del semestre académico 2024-I</h5>
                    </div>
                    <div class="table-responsive" style="max-height: 350px; overflow-y: auto;">
                        <table class="table table-hover my-0">
                            <thead class="table-header-fixed">
                                <tr>
                                    <th>Nombre del ambiente</th>
                                    <th>Capacidad</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody id="ambientes-ocupacion">
                                <tr class="skeleton skeleton-table"><td colspan="3"></td></tr>
                                <tr class="skeleton skeleton-table"><td colspan="3"></td></tr>
                                <tr class="skeleton skeleton-table"><td colspan="3"></td></tr>
                                <tr class="skeleton skeleton-table"><td colspan="3"></td></tr>
                                <tr class="skeleton skeleton-table"><td colspan="3"></td></tr>
                                <tr class="skeleton skeleton-table"><td colspan="3"></td></tr>
                                <tr class="skeleton skeleton-table"><td colspan="3"></td></tr>
                            </tbody>
                        </table>
                        <div id="no-datos-ambientes-ocupacion" class="text-center mt-2" style="display: none;">
                            No hay datos disponibles
                        </div>
                    </div>
                </div>
            </div>

            <!-- Reporte de Cursos por Ciclo Académico -->
            <div class="col-xl-6 col-xxl-4 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Cantidad de cursos por ciclo del semestre académico  2024-I</h5>
                    </div>
                    <div class="card-body py-3">
                        <div class="chart chart-sm">
                            <canvas class="skeleton skeleton-chart" id="chartjs-cursos-por-ciclo"></canvas>
                            <div id="no-datos-cursos-por-ciclo" class="text-center mt-2" style="display: none;">
                                No hay datos disponibles
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Reporte de Cursos por Tipo -->
            <div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Cantidad de cursos por tipo del semestre académico 2024-I</h5>
                    </div>
                    <div class="card-body d-flex">
                        <div class="align-self-center w-100">
                            <div class="py-3">
                                <div class="chart chart-xs">
                                    <canvas class="skeleton skeleton-chart" id="chartjs-cursos-tipo"></canvas>
                                    <div id="no-datos-cursos-tipo" class="text-center mt-2" style="display: none;">
                                        No hay datos disponibles
                                    </div>
                                </div>
                            </div>
                            <table class="table mb-0">
                                <thead class="table-header-fixed">
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Cursos</th>
                                    </tr>
                                </thead>
                                <tbody id="tabla-cursos-tipo">
                                    <tr class="skeleton skeleton-table"><td colspan="2"></td></tr>
                                    <tr class="skeleton skeleton-table"><td colspan="2"></td></tr>
                                </tbody>
                                <div id="no-datos-tabla-cursos-tipo" class="text-center mt-2" style="display: none;">
                                    No hay datos disponibles
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Cantidad de grupos con horario asignado y sin asignar del semestre académico 2024-I</h5>
                    </div>
                    <div class="card-body d-flex">
                        <div class="align-self-center w-100">
                            <div class="py-3">
                                <div class="chart chart-xs">
                                    <canvas class="skeleton skeleton-chart" id="chartDocente"></canvas>
                                    <div id="no-datos-cursos-tipo" class="text-center mt-2" style="display: none;">
                                        No hay datos disponibles
                                    </div>
                                </div>
                            </div>
                            <table class="table mb-0">
                                <thead class="table-header-fixed">
                                    <tr>
                                        <th colspan="2">Horarios</th>
                                        <th colspan="1">#</th>
                                    </tr>
                                </thead>
                                <tbody id="tabla-cursos-tipo">
                                    <tr class="skeleton skeleton-table">
                                        <td colspan="2" id="r1"></td>
                                        <td colspan="1" id="r2" class="text-start"></td>
                                    </tr>
                                    <tr class="skeleton skeleton-table">
                                        <td colspan="2" id="r3"></td>
                                        <td colspan="1" id="r4"></td>
                                    </tr>
                                </tbody>
                                <div id="no-datos-tabla-cursos-tipo" class="text-center mt-2" style="display: none;">
                                    No hay datos disponibles
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">

                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Disponibilidad de docentes registrada y sin registrar del semestre académico 2024-I</h5>
                    </div>
                    <div class="card-body d-flex">
                        <div class="align-self-center w-100">
                            <div class="py-3">
                                <div class="chart chart-xs">
                                    <canvas class="skeleton skeleton-chart" id="chartAmbiente"></canvas>
                                    <div id="no-datos-cursos-tipo" class="text-center mt-2" style="display: none;">
                                        No hay datos disponibles
                                    </div>
                                </div>
                            </div>
                            <table class="table mb-0">
                                <thead class="table-header-fixed">
                                    <tr>
                                        <th colspan="2">Disponibilidad</th>
                                        <th colspan="1">#</th>
                                    </tr>
                                </thead>
                                <tbody id="tabla-cursos-tipo">
                                    <tr class="skeleton skeleton-table">
                                        <td colspan="2" id="n"></td>
                                        <td colspan="1" id="v1" class="text-start"></td>
                                    </tr>
                                    <tr class="skeleton skeleton-table">
                                        <td colspan="2" id="n2"></td>
                                        <td colspan="1" id="v2"></td>
                                    </tr>
                                </tbody>
                                
                                <div id="no-datos-tabla-cursos-tipo" class="text-center mt-2" style="display: none;">
                                    No hay datos disponibles
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Reporte de Cursos por Docente -->

           <!-- Reporte de Grupos por Semestre Academico -->
            <div class="col-12 col-md-6 col-xxl-3 d-flex order-1 order-xxl-1">
                <div class="card flex-fill">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Cantidad de grupos por semestre académico</h5>
                    </div>
                    <div class="card-body d-flex w-100">
                        <div class="align-self-center chart chart-lg">
                            <canvas class="skeleton skeleton-chart" id="chartjs-cursos-por-facultad"></canvas>
                            <div id="no-datos-cursos-por-facultad" class="text-center mt-2" style="display: none;">
                                No hay datos disponibles
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div class="row"> -->
            <!-- Reporte de Cursos -->
            <!-- <div class="col-12 col-lg-8 col-xxl-9 d-flex">
                <div class="card flex-fill">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Reporte de Cursos</h5>
                    </div>
                    <div class="table-responsive" style="max-height: 350px; overflow-y: auto;">
                        <table class="table table-hover my-0">
                            <thead class="table-header-fixed">
                                <tr>
                                    <th>Curso</th>
                                    <th>Docente</th>
                                    <th>Ambiente</th>
                                    <th>Horario</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody id="reporte-cursos">
                                <tr class="skeleton skeleton-table"><td colspan="5"></td></tr>
                                <tr class="skeleton skeleton-table"><td colspan="5"></td></tr>
                                <tr class="skeleton skeleton-table"><td colspan="5"></td></tr>
                                <tr class="skeleton skeleton-table"><td colspan="5"></td></tr>
                                <tr class="skeleton skeleton-table"><td colspan="5"></td></tr>
                                <tr class="skeleton skeleton-table"><td colspan="5"></td></tr>
                                <tr class="skeleton skeleton-table"><td colspan="5"></td></tr>
                            </tbody>
                            <div id="no-datos-reporte-cursos" class="text-center mt-2" style="display: none;">
                                No hay datos disponibles
                            </div>
                        </table>
                    </div>
                </div>
            </div> -->

            <!-- Reporte de Ambientes por Edificio -->
            <!-- <div class="col-12 col-lg-4 col-xxl-3 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Ambientes por Edificio</h5>
                    </div>
                    <div class="card-body d-flex w-100">
                        <div class="align-self-center chart chart-lg">
                            <canvas class="skeleton skeleton-chart" id="chartjs-ambientes-por-edificio"></canvas>
                            <div id="no-datos-ambientes-por-edificio" class="text-center mt-2" style="display: none;">
                                No hay datos disponibles
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        <!-- </div> -->
    </div>

    <style>
        .skeleton {
            background-color: #e0e0e0;
            background-image: linear-gradient(90deg, #e0e0e0, #f0f0f0, #e0e0e0);
            background-size: 200% 100%;
            background-position: 200% center;
            animation: loading 1.5s infinite;
        }

        @keyframes loading {
            to {
                background-position: -200% center;
            }
        }

        .skeleton-text {
            width: 100%;
            height: 20px;
            margin-bottom: 10px;
        }

        .skeleton-table {
            width: 100%;
            height: 50px;
        }

        .skeleton-chart {
            width: 100%;
            height: 300px;
        }

        .table-header-fixed {
            position: sticky;
            top: 0;
            background-color: #fff;
            z-index: 1;
        }

        @media (max-width: 768px) {
            .table td:nth-child(1),
            .table th:nth-child(1) {
                white-space: normal !important;
                word-break: break-word !important;
            }
            .table th, .table td {
                font-size: 14px;
            }
            .table td:nth-child(1) {
                min-width: 150px;
            }
        }
    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function () {

            function fetchData(url, callback, noDataCallback) {
                $.ajax({
                    url: url,
                    method: 'GET',
                    success: function (data) {
                        if (data.length === 0) {
                            noDataCallback();
                        } else {
                            callback(data);
                        }
                        removeSkeleton();
                    },
                    error: function () {
                        noDataCallback();
                        removeSkeleton();
                    }
                });
            }

            function removeSkeleton() {
                document.querySelectorAll('.skeleton').forEach(function (element) {
                    element.classList.remove('skeleton');
                });
            }

            function updateStat(elementId, data, key) {
                document.getElementById(elementId).textContent = data[0][key];
            }

            function updateTable(tbodyId, data, createRow) {
                var tbody = document.getElementById(tbodyId);
                tbody.innerHTML = ''; 
                data.forEach(function (item) {
                    tbody.innerHTML += createRow(item);
                });
            }

            function createAmbienteRow(ambiente) {
                return `<tr>
                            <td>${ambiente.nombre}</td>
                            <td>${ambiente.capacidad}</td>
                            <td><span class="badge ${ambiente.estado == 'Activo' ? 'bg-success' : 'bg-danger'}">${ambiente.estado}</span></td>
                        </tr>`;
            }

            function createCursoTipoRow(curso) {
                return `<tr>
                            <td>${curso.tipo}</td>
                            <td class="text-end">${curso.cursos}</td>
                        </tr>`;
            }

            function createCursoRow(curso) {
                return `<tr>
                            <td>${curso.curso}</td>
                            <td>${curso.docente}</td>
                            <td>${curso.ambiente}</td>
                            <td>${curso.horario}</td>
                            <td><span class="badge ${curso.estado == 'Activo' ? 'bg-success' : 'bg-danger'}">${curso.estado}</span></td>
                        </tr>`;
            }

            function createChart(elementId, type, labels, data, options) {
                var canvas = document.getElementById(elementId);
                canvas.width = canvas.parentElement.clientWidth;
                canvas.height = canvas.parentElement.clientHeight;
                var ctx = canvas.getContext('2d');
                new Chart(ctx, {
                    type: type,
                    data: {
                        labels: labels,
                        datasets: [{
                            label: options.label,
                            backgroundColor: options.backgroundColor,
                            borderColor: options.borderColor,
                            hoverBackgroundColor: options.hoverBackgroundColor,
                            hoverBorderColor: options.hoverBorderColor,
                            data: data,
                            barPercentage: .75,
                            categoryPercentage: .5
                        }]
                    },
                    options: {
                        maintainAspectRatio: true,
                        legend: { display: options.displayLegend }
                    }
                });
            }

            fetchData('/get_cursos_activos', function (data) {
                updateStat("cursos-activos", data, 'cursos_activos');
            }, function () {
                document.getElementById("cursos-activos").textContent = "No hay datos disponibles";
            });

            fetchData('/get_docentes_activos', function (data) {
                updateStat("docentes-activos", data, 'docentes_activos');
            }, function () {
                document.getElementById("docentes-activos").textContent = "No hay datos disponibles";
            });

            fetchData('/get_ambientes_disponibles', function (data) {
                updateStat("ambientes-disponibles", data, 'ambientes_disponibles');
            }, function () {
                document.getElementById("ambientes-disponibles").textContent = "No hay datos disponibles";
            });

            fetchData('/get_ambientes_capacidad_ocupacion', function (data) {
                updateTable("ambientes-ocupacion", data, createAmbienteRow);
            }, function () {
                document.getElementById("no-datos-ambientes-ocupacion").style.display = "block";
            });

            fetchData('/get_cursos_tipo', function (data) {
                var labels = data.map(item => item.tipo);
                var cursos = data.map(item => item.cursos);
                removeSkeleton(); 
                createChart("chartjs-cursos-tipo",  'pie',labels, cursos, {
                    
                    label: "Cursos",
                    backgroundColor: [window.theme.primary, window.theme.warning],
                    borderColor: 'rgb(255,255,255)',
                    hoverBackgroundColor:['rgb(53,126,255)','rgb(255,194,4)'] ,
                    hoverBorderColor: 'rgb(255,255,255)',
                    displayLegend: true,
                },
                );
                updateTable("tabla-cursos-tipo", data, createCursoTipoRow);
            }, function () {
                document.getElementById("no-datos-cursos-tipo").style.display = "block";
                document.getElementById("no-datos-tabla-cursos-tipo").style.display = "block";
            });

            fetchData('/get_cursos_por_ciclo', function (data) {
                var labels = data.map(item => item.ciclo);
                var cursos = data.map(item => item.cantidad_cursos);
                removeSkeleton(); 
                createChart("chartjs-cursos-por-ciclo", "line", labels, cursos, {
                    label: "Cursos",
                    backgroundColor: "rgba(215, 227, 244, 1)",
                    borderColor: window.theme.primary,
                    hoverBackgroundColor: window.theme.primary,
                    hoverBorderColor: window.theme.primary,
                    displayLegend: false
                });
            }, function () {
                document.getElementById("no-datos-cursos-por-ciclo").style.display = "block";
            });

            fetchData('/get_edificio_ambientes', function (data) {
                var labels = data.map(item => item.edificio);
                var ambientes = data.map(item => item.ambientes);
                removeSkeleton(); 
                createChart("chartjs-ambientes-por-edificio", "bar", labels, ambientes, {
                    label: "Ambientes",
                    backgroundColor: window.theme.primary,
                    borderColor: window.theme.primary,
                    hoverBackgroundColor: window.theme.primary,
                    hoverBorderColor: window.theme.primary,
                    displayLegend: false
                });
            }, function () {
                document.getElementById("no-datos-ambientes-por-edificio").style.display = "block";
            });

            fetchData('/get_reporte_cursos', function (data) {
                updateTable("reporte-cursos", data, createCursoRow);
            }, function () {
                document.getElementById("no-datos-reporte-cursos").style.display = "block";
            });

            fetchData('/get_cant_cursos_docente', function (data) {
                var labels = data.map(item => item.docente);
                var cursos = data.map(item => item.cantidad_cursos);
                removeSkeleton();
                createChart("chartjs-cursos-docentes", "bar", labels, cursos, {
                    label: "Cantidad de Cursos",
                    backgroundColor: window.theme.primary,
                    borderColor: window.theme.primary,
                    hoverBackgroundColor: window.theme.primary,
                    hoverBorderColor: window.theme.primary,
                    displayLegend: false
                });
            }, function () {
                document.getElementById("no-datos-cursos-docentes").style.display = "block";
            });

            fetch('/get_registrodocente_grupo_horario')
            .then(response => response.json())
            .then(data => {
                console.log(data); // Para verificar los datos en la consola
                const { docentes_con_disponibilidad, docentes_sin_disponibilidad, grupos_con_horario, grupos_sin_horario } = data;
        
                // Datos para los gráficos
                const labelsDocentes = ['Docentes con disponibilidad registrada', 'Docentes sin disponibilidad registrada'];
                const dataDocentes = [docentes_con_disponibilidad, docentes_sin_disponibilidad];
                
                const labelsGrupos = ['Grupos con horario asignado', 'Grupos sin horario asignado'];
                const dataGrupos = [grupos_con_horario, grupos_sin_horario];
        
                // Remover skeletons
                removeSkeleton();
        
                // Crear gráficos
                createChart("chartAmbiente", "pie", labelsDocentes, dataDocentes, {
                    label: "Reporte por Docente",
                    backgroundColor: [window.theme.primary, window.theme.warning],
                    borderColor: 'rgb(255,255,255)',
                    hoverBackgroundColor:['rgb(53,126,255)','rgb(255,194,4)'] ,
                    hoverBorderColor: 'rgb(255,255,255)',
                    displayLegend: true,
                });
        
                createChart("chartDocente", "pie", labelsGrupos, dataGrupos, {
                    label: "Reporte de Grupos",
                    backgroundColor: [window.theme.primary, window.theme.warning],
                    borderColor: 'rgb(255,255,255)',
                    hoverBackgroundColor:['rgb(53,126,255)','rgb(255,194,4)'] ,
                    hoverBorderColor: 'rgb(255,255,255)',
                    displayLegend: true,
                });
               document.getElementById('n').innerText = 'Registrada';
               document.getElementById('v1').innerText = dataDocentes[0];
                document.getElementById('n2').innerText = 'Sin registrar';
                document.getElementById('v2').innerText = dataDocentes[1];

                document.getElementById('r1').innerText = 'Asignados';
                document.getElementById('r2').innerText = dataGrupos[0];
                 document.getElementById('r3').innerText = 'Sin asignar';
                 document.getElementById('r4').innerText = dataGrupos[1];
                // Ocultar loader después de cargar los gráficos
                document.getElementById('loader').style.display = 'none';
            })
            .catch(error => {
                console.error('Error al obtener los datos:', error);
                // Ocultar loader en caso de error
                document.getElementById('loader').style.display = 'none';
            });
        
            fetchData('/get_cant_grupos_semestre', function (data) {
                var labels = data.map(item => item.semestre);
                var grupos = data.map(item => item.cantidad_grupos);
                removeSkeleton(); 
                createChart("chartjs-cursos-por-facultad", "bar", labels, grupos, {
                    label: "Cantidad de Grupos",
                    backgroundColor: window.theme.primary,
                    borderColor: window.theme.primary,
                    hoverBackgroundColor: window.theme.primary,
                    hoverBorderColor: window.theme.primary,
                    displayLegend: false
                });
            }, function () {
                document.getElementById("no-datos-cursos-por-facultad").style.display = "block";
            });

        });
        document.addEventListener('DOMContentLoaded', function () {
            // Ocultar loader después de 2 segundos
            setTimeout(function () {
                document.getElementById('loader').style.display = 'none';
            }, 2000);
    
            // Obtener datos desde el servidor utilizando AJA
        });
    </script>
</section>
{% endblock %}
