{% extends "dashboard/index.html" %}

{% block titulo %} Horarios {% endblock %}

{% block contenido %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/es.js"></script>

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" href="Home"><a>Inicio</a></li>
        <li class="breadcrumb-item active" data-href="#"><a>Horarios</a></li>
    </ol>
</nav>

<div class="card mx-2" id="card_horarios">
    <div class="card-header bg-red-usat text-white" id="headingOne" data-bs-toggle="collapse"
        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Generar Horarios Academicos
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#miAccordion">
        <div class="card-body">
            <div class="my-3">
                <div id="estadoGeneracion">
                    <!-- Estado de generación aquí -->
                </div>
            </div>
            <!-- Botones -->
            <div class="row align-items-end my-3">
                <div class="d-flex justify-content-center mt-3">
                    <button class="btn btn-success btn-lg mx-2" onclick="generarHorario()"><i class="fa fa-robot me-2"></i> Generar Horario</button>
                    <button class="btn btn-success btn-lg mx-2 d-none" id="btnRegistrar" onclick="confirmarRegistrarHorario()">
                        <i class="fa fa-save me-2"></i>Registrar Horario
                    </button>
                    <button class="btn btn-danger btn-lg mx-2 d-none" id="btnLimpiar" onclick="limpiarTabla()">
                        <i class="fa fa-trash me-2"></i>Limpiar
                    </button>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button class="btn btn-secondary btn-lg mx-2" onclick="cicloAnterior()"><i class="fa fa-arrow-left me-2"></i>Anterior</button>
                    <h4 class="mx-3" id="cicloActual">I Ciclo</h4>
                    <button class="btn btn-secondary btn-lg mx-2" onclick="cicloSiguiente()"><i class="fa fa-arrow-right me-2"></i>Siguiente</button>
                </div>
            </div>
            <!-- Calendario -->
            <div class="card-body show" style="max-height: 600px; overflow-y: auto;">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Carga -->
<div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p class="mt-3">Generando Horario, por favor espere...</p>
            </div>
        </div>
    </div>
</div>

<style>
    .curso-tipo-presencial {
        background-color: rgb(0, 38, 255);
        color: white;
        font-weight: bold;
        padding: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .curso-tipo-virtual {
        background-color: rgb(255, 0, 0);
        color: white;
        font-weight: bold;
        padding: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
</style>

<script>
    var currentCiclo = 1;
    var maxCiclo = 1;
    var allEvents = [];

    $(document).ready(function () {
        generarHorario();
    });

    function generarHorario() {
        $('#loadingModal').modal('show');
        $.ajax({
            url: '/generarHorario',
            type: 'GET',
            contentType: 'application/json',
            success: function (response) {
                $('#loadingModal').modal('hide');
                allEvents = response;
                maxCiclo = Math.max(...allEvents.map(event => event.ciclo));
                actualizarCalendario();
                $('#btnRegistrar').removeClass('d-none');
                $('#btnLimpiar').removeClass('d-none');
            },
            error: function (xhr, status, error) {
                console.log(error);
                $('#loadingModal').modal('hide');
            }
        });
    }

    function actualizarCalendario() {
        var events = allEvents.filter(event => event.ciclo === currentCiclo).map(function (curso) {
            return {
                title: curso.curso + ' (' + curso.docente + ')',
                start: moment().day(curso.dia).hour(parseInt(curso.hora_inicio.split(':')[0])).minute(parseInt(curso.hora_inicio.split(':')[1])),
                end: moment().day(curso.dia).hour(parseInt(curso.hora_fin.split(':')[0])).minute(parseInt(curso.hora_fin.split(':')[1])),
                className: curso.tipo_curso.toLowerCase() === 'presencial' ? 'curso-tipo-presencial' : 'curso-tipo-virtual'
            };
        });

        $('#calendar').fullCalendar('destroy'); // Destroy the existing calendar
        $('#calendar').fullCalendar({ // Create a new calendar
            header: false, // Hide navigation header
            defaultView: 'agendaWeek',
            locale: 'es',
            minTime: '07:00:00',
            maxTime: '24:00:00',
            hiddenDays: [0], // Hide Sundays
            events: events,
            editable: false,
            eventRender: function(event, element) {
                element.append("<span class='closeon'>X</span>");
                element.find(".closeon").click(function() {
                    $('#calendar').fullCalendar('removeEvents', event._id);
                });
            }
        });
        actualizarTituloCiclo();
    }

    function cicloAnterior() {
        if (currentCiclo > 1) {
            currentCiclo--;
            actualizarCalendario();
        }
    }

    function cicloSiguiente() {
        if (currentCiclo < maxCiclo) {
            currentCiclo++;
            actualizarCalendario();
        }
    }

    function actualizarTituloCiclo() {
        var cicloTitulo = ["I Ciclo", "II Ciclo", "III Ciclo", "IV Ciclo", "V Ciclo", "VI Ciclo", "VII Ciclo", "VIII Ciclo", "IX Ciclo", "X Ciclo"];
        document.getElementById("cicloActual").innerText = cicloTitulo[currentCiclo - 1];
    }

    function confirmarRegistrarHorario() {
        Swal.fire({
            title: '¿Está seguro?',
            text: "Está a punto de registrar el horario en la base de datos.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí, registrar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                RegistrarHorario();
            }
        });
    }

    function RegistrarHorario() {
        Swal.fire({
            title: 'Registrando...',
            html: 'Por favor, espere mientras se registra el horario.',
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });

        var events = $('#calendar').fullCalendar('clientEvents');
        var horario = events.map(event => ({
            curso: event.title.split(' (')[0],
            docente: event.title.split(' (')[1].slice(0, -1),
            dia: event.start.format('dddd'),
            hora_inicio: event.start.format('HH:mm'),
            hora_fin: event.end.format('HH:mm'),
            tipo_curso: event.className[0].includes('presencial') ? 'Presencial' : 'Virtual',
            ciclo: currentCiclo
        }));

        $.ajax({
            url: '/insertar_horarios_ia',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ horarios: horario }),
            success: function (response) {
                Swal.close();
                Swal.fire(
                    '¡Registrado!',
                    'El horario ha sido registrado exitosamente.',
                    'success'
                );
            },
            error: function (xhr, status, error) {
                Swal.close();
                Swal.fire(
                    'Error',
                    'Hubo un problema al registrar el horario. Por favor, inténtelo de nuevo.',
                    'error'
                );
            }
        });
    }

    function limpiarTabla() {
        $('#calendar').fullCalendar('removeEvents');
        $('#btnRegistrar').addClass('d-none');
        $('#btnLimpiar').addClass('d-none');
    }
</script>
{% endblock %}
