<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="preconnect" href="https://fonts.gstatic.com">

	<link rel="shortcut icon" href="{{ url_for('static', filename='dashboard/img/icons/usat_logo_red.jpg') }}" />
	<link rel="canonical" href="https://demo-basic.adminkit.io/" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<script src="/static/js/javascript.js"></script>
	<title>USAT - {% block titulo %}{% endblock %}</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	<link href="{{ url_for('static', filename='dashboard/css/app.css') }}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-2.0.3/datatables.min.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.5.0/css/rowReorder.bootstrap5.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.2/css/responsive.bootstrap5.css">
	<script src="/static/js/autocomplete-0.3.0.js"></script>
    <script src="/static/js/jquery-1.8.2.min.js"></script>
    <link rel="stylesheet" href="/static/css/autocomplete-0.3.0.css">

	<style>
		.loader-wrapper {
			position: fixed;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.7);
			/* fondo semi-transparente */
			z-index: 9999;
			/* asegura que la pantalla de carga esté en la parte superior */
			display: none;
			/* ocultar por defecto */
		}

		.loader {
			border: 4px solid #f3f3f3;
			border-radius: 50%;
			border-top: 4px solid #3498db;
			width: 50px;
			height: 50px;
			animation: spin 2s linear infinite;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -25px;
			/* mitad de la altura del loader */
			margin-left: -25px;
			/* mitad del ancho del loader */
		}

		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}
	</style>
</head>

<body>
	<div class="wrapper">
		<!-- Pantalla de carga -->
		<div id="loader" class="loader-wrapper">
			<div class="loader"></div>
		</div>
		<div class="wrapper">
			<nav id="sidebar" class="sidebar js-sidebar">
				<div class="sidebar-content js-simplebar">

					<a class="sidebar-brand" href="{{url_for('perfil')}}">
						<img src="{{ url_for('static', filename='login/images/usat_logo_blank.png') }}"
							alt="logoescuela" style="max-width: 110px; display: flex;">
					</a>

					<ul class="sidebar-nav">
						<li class="sidebar-header">
							Inicio
						</li>

						<li class="sidebar-item ">
							<a class="sidebar-link" href="{{url_for('index')}}">
								<i class="align-middle" data-feather="sliders"></i> <span
									class="align-middle">Resumen</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link" href="{{url_for('perfil')}}">
								<i class="align-middle" data-feather="user"></i> <span
									class="align-middle">Perfil</span>
							</a>
						</li>
						<li class="sidebar-header">
							Gestión
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link" href="{{url_for('ambientes')}}">
								<img data-image="" src="https://img.icons8.com/glyph-neue/64/000000/school.png" alt="school"/> <span
									class="align-middle">Ambientes</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link" href="{{url_for('cursos')}}">
								<img data-image="" src="https://img.icons8.com/ios-glyphs/30/000000/knowledge-sharing.png" alt="knowledge-sharing"/> <span
									class="align-middle">Cursos</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link" href="{{url_for('grupos')}}">
								<img data-image="" src="https://img.icons8.com/ios-filled/50/000000/groups.png" alt="groups"/> <span
									class="align-middle">Grupos</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link" href="{{url_for('cursosxescuela')}}">
								<i class="align-middle" data-feather="check-square"></i> <span
									class="align-middle">Grupos por Curso</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link" href="{{url_for('ambientesxCursos')}}">
								<img data-image="" src="https://img.icons8.com/ink/48/training--v1.png" alt="training--v1"/> <span
									class="align-middle">Ambientes por Curso</span>
							</a>
						</li>

						


						<li class="sidebar-item">
							<a class="sidebar-link" href="{{url_for('docentes')}}">
								<img data-image="" src="https://img.icons8.com/ios-glyphs/30/000000/administrator-male.png" alt="administrator-male"/> <span
									class="align-middle">Docentes</span>
							</a>
						</li>
						
						<li class="sidebar-item">
							<a class="sidebar-link" href="{{url_for('docentesxcursos')}}">
								<img data-image="" src="https://img.icons8.com/metro/26/classroom.png" alt="classroom"/> <span
									class="align-middle">Docentes por curso</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link" href="{{url_for('horarios')}}">
								<img data-image="" src="https://img.icons8.com/glyph-neue/64/000000/calendar.png" alt="calendar"/> <span
									class="align-middle">Horarios</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link" href="{{url_for('horarios_por_docente')}}">
								<img data-image="" src="https://img.icons8.com/ios-filled/50/planning-skill.png" alt="planning-skill"/> <span
									class="align-middle">Horarios por docente</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link" href="{{url_for('horarios_por_ambiente')}}">
								<i class="align-middle" data-feather="align-left"></i> <span
									class="align-middle">Horarios por ambiente</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link" href="{{url_for('horarios_por_ciclo')}}">
								<img data-image="" src="https://img.icons8.com/?size=100&id=Lx5iokyeqYUd&format=png&color=000000" alt="planning-skill"/> <span
									class="align-middle">Horarios por Ciclo</span>
							</a>
						</li>
						<!-- aca -->
						<li class="sidebar-item">
							<span class="sidebar-link a d-flex align-items-center" >
								<i class="align-middle" data-feather="align-left"></i>
								<span class="align-middle">Reporte Ambientes</span>
								<span class="ml-auto">
									<span class="btn btn-sm ms-2 " onclick="mostrar(this)">
										<i class="fa fa-caret-down text-end"></i>
									</span>
								</span>
							</span>
							<!-- aca -->
							<ul class="list-unstyled  px-3" >
								<li class="sidebar-item a" hidden>
									<a class="sidebar-link " href="{{url_for('ReporteAmbiente')}}">
										<i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Reporte Ambientes</span>
									</a>
								</li>
							</ul>
							<!-- aca -->
							<ul class="list-unstyled px-3">
								<li class="sidebar-item">
									<a class="sidebar-link" href="{{ url_for('reportegrupo_docente') }}">
										<i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Reporte Grupos</span>
									</a>
								</li>
							</ul>
							
						</li>
						
					</ul>
				</div>
			</nav>
			<div class="main bg-grey-usat">

				<nav class="navbar navbar-expand navbar-light navbar-bg sticky-top">
					<a class="sidebar-toggle js-sidebar-toggle">
						<i class="hamburger align-self-center"></i>
					</a>
					<div class="navbar-collapse collapse">

						<ul class="navbar-nav navbar-align">
							<button class="theme-toggle" id="theme-toggle" title="Activar/desactivar modo oscuro"
								aria-label="auto" aria-live="polite"
								style="border: none; background: none; color: black;">
								<svg class="sun-and-moon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
									<mask class="moon" id="moon-mask">
										<rect x="0" y="0" width="100%" height="100%" fill="white" />
										<circle cx="24" cy="10" r="6" fill="black" />
									</mask>
									<circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)"
										fill="currentColor" />
									<g class="sun-beams" stroke="currentColor">
										<line x1="12" y1="1" x2="12" y2="3" />
										<line x1="12" y1="21" x2="12" y2="23" />
										<line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
										<line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
										<line x1="1" y1="12" x2="3" y2="12" />
										<line x1="21" y1="12" x2="23" y2="12" />
										<line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
										<line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
									</g>
								</svg>
							</button>



							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
									data-bs-toggle="dropdown">
									<i class="align-middle" data-feather="settings"></i>
								</a>

								<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
									data-bs-toggle="dropdown">

									<img id="github-profile-pic" src="static/img/{{foto_perfil}}"
										class="avatar img-fluid rounded me-1" alt="foto_perfil" />
									<span id="usernamenav" class="text-dark">{{usuario}}</span>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a class="dropdown-item" href="{{url_for('perfil')}}"><i class="align-middle me-1"
											data-feather="user"></i> Perfil</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" id="btnCerrarSesion" onclick="cerrarSesion()">Cerrar Sesión</a>
								</div>
							</li>
						</ul>
					</div>
				</nav>
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
					integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
					crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
					integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
					crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
					integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
					crossorigin="anonymous"></script>
				<script src="{{ url_for('static', filename='dashboard/js/app.js') }}"></script>
				<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
				<!-- Datatables libraries -->
				<script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js"></script>
				<script src="https://cdn.datatables.net/rowreorder/1.5.0/js/dataTables.rowReorder.js"></script>
				<script src="https://cdn.datatables.net/rowreorder/1.5.0/js/rowReorder.bootstrap5.js"></script>
				<script src="https://cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.js"></script>
				<script src="https://cdn.datatables.net/responsive/3.0.2/js/responsive.bootstrap5.js"></script>

				<!-- <script>
				var username = "JeanCHV";
				// URL de la API de GitHub para obtener información del usuario
				var url = "https://api.github.com/users/" + username;
				// Realizar una solicitud GET a la API de GitHub
				fetch(url)
					.then(response => response.json())
					.then(data => {
						var profilePicUrl = data.avatar_url;
						var img = document.getElementById("github-profile-pic");
						img.src = profilePicUrl;
						var user = $('#usernamenav').html(username);
					})
					.catch(error => {
						console.error("Error al obtener la foto de perfil:", error);
					});
			</script> -->
				<main class="content" id="container-body" style="padding: 15px;">
					{%block contenido %} {% endblock %}
				</main>
				<footer class="footer">
					<div class="container-fluid">
						<div class="row text-muted">
							<div class="col-6 text-start">
								<p class="mb-0">
									<a class="text-muted" href="https://adminkit.io/"
										target="_blank"><strong>USAT</strong></a> - <a class="text-muted"
										href="https://adminkit.io/" target="_blank"><strong>2024-I</strong></a> &copy;
								</p>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>


</body>
<script src="{{ url_for('static', filename='login/libs/sweetalert2/sweetalert2.js') }}"></script>
<!-- Script para mostrar la pantalla de carga al hacer clic en los enlaces de la barra lateral -->
<script>
	var imgSrc = localStorage.getItem("f");
	if (!imgSrc) {
		imgSrc = sessionStorage.getItem("f");
	}
	if (imgSrc) {
		document.getElementById("github-profile-pic").src = "static/img/" + imgSrc;
	}

	var username = localStorage.getItem("n");
	if (!username) {
		username = sessionStorage.getItem("n");
	}
	if (username) {
		document.getElementById("usernamenav").textContent = username;
	}
	
	document.addEventListener("DOMContentLoaded", function () {

		const login_username = localStorage.getItem('username') !== null || sessionStorage.getItem('username') !== null;
		const login_token = localStorage.getItem('token') !== null || sessionStorage.getItem('token') !== null;

		if (!login_username && !login_token){
			validar_sesion()
		}

		// Selecciona todos los elementos con la clase 'sidebar-link'
		//var sidebarLinks = document.querySelectorAll(".sidebar-link");

		// Agrega un evento 'click' a cada elemento 'sidebar-link'
		sidebarLinks.forEach(function (link) {
			link.addEventListener("click", function () {
				// Muestra la pantalla de carga al hacer clic
				document.getElementById("loader").style.display = "block";
			});
		});
		
	});
	
	function mostrar(element) {
		var hijo = element.children[0];
		var padre = element.parentNode.parentNode.parentNode;
		var uls = padre.querySelectorAll("ul");
		var ul = uls[0];
		var lis = ul.querySelectorAll('li');
		var li = lis[0];
		if (li.hidden == true) {
			li.hidden = false;
			hijo.classList.remove("fa-caret-down");
			hijo.classList.add("fa-caret-up");
		} else {
			li.hidden = true;
			hijo.classList.remove("fa-caret-up");
			hijo.classList.add("fa-caret-down");
		}
	}
	
	
	

	function mostrarAlerta(icon, title, text) {
            Swal.fire({
                icon: icon,
                title: title,
                text: text
            });
        }
    
	function validar_sesion(){
		username = localStorage.getItem('username');
		token = localStorage.getItem('token');

		if (!username || !token) {
			username = sessionStorage.getItem('username');
			token = sessionStorage.getItem('token');
		}

		if (!username || !token){
			//mostrarAlerta("warning","No se pudo cargar la página","No hay una sesión activa, por favor vuelva a acceder al sistema")
			window.location.href = '/login';

		}else{
			fetch('/validar_sesion', {
				method: 'POST',
				headers: {
					'Content-type':'application/json'
				},
				body: JSON.stringify({
					username:username,
					token:token,
				})
				})
				.then(response => response.json())
				.then(data =>{
					if (data.logeo){

					}else{
						//mostrarAlerta("warning","No se pudo cargar la página",data.alerta)
						window.location.href = '/login';
					}
				})
				.catch(error=>{
					//mostrarAlerta("error","Error al cargar la página",error)
					window.location.href = '/login';
				});	
		}
	}

	function cerrarSesion(){
		localStorage.clear();
		sessionStorage.clear();
		window.location.href = '/login';
	}
</script>

</html>
